<form action="">
    <section>
        <div class="header">
            {% set title = "pages.profile.details.jobs"|trans|capitalize %}
            <i class="fa fa-fw fa-address-card-o"></i>
            <span class="title">{{ title }}</span>
            <a href="{{ path('job/list') }}" title="{{ 'edit'|trans }}" class="pull-right edit" data-title="{{ title }}">
                <i class="fa fa-fw fa-pencil"></i>
            </a>
        </div>
        <hr>
        <ul class="listing">
            {% if profile.jobs is not empty %}
                {% for job in profile.jobs %}
                    <li>
                        <input type="checkbox" name="job[{{ job.id }}]" id="{{ 'job-' ~ loop.index }}" checked="checked">
                        <label for="{{ 'job-' ~ loop.index }}">
                            {% if job.endDate is not null %} {{ "pages.profile.details.was"|trans|capitalize }} {% endif %}{{ job.position }} {{ "pages.profile.details.at"|trans }} {{ job.workplace.name }}
                        </label>
                    </li>
                    <hr>
                {% endfor %}
            {% else %}
                <li>
                    <a href="{{ path('job/list') }}" title="{{ 'edit'|trans }}" class="edit" data-title="{{ title }}">
                        [+] {{ "pages.profile.details.add_edit_jobs"|trans }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </section>
    <section>
        <div class="header">
            {% set title = "pages.profile.details.education"|trans|capitalize %}
            <i class="fa fa-fw fa-book"></i>
            <span class="title">{{ title }}</span>
            <a href="{{ path('education/list') }}" title="{{ 'edit'|trans }}" class="pull-right edit" data-title="{{ title }}">
                <i class="fa fa-fw fa-pencil"></i>
            </a>
        </div>
        <hr>
        <ul class="listing">
            {% if profile.education is not empty %}
                {% for education in profile.education %}
                    <li>
                        <input type="checkbox" name="education[{{ education.id }}]" id="{{ 'education-' ~ loop.index }}" checked="checked">
                        <label for="{{ 'education-' ~ loop.index }}">
                            {% if education.endDate is not null %} {{ "pages.profile.details.studied"|trans|capitalize }} {% else %} {{ "pages.profile.details.studies"|trans|capitalize }} {% endif %}
                            {{ education.description|capitalize }} {{ "pages.profile.details.at"|trans }} {{ education.school.name }} {{ "pages.profile.details.in"|trans }} {{ education.school.locality.name }}
                        </label>
                    </li>
                    <hr>
                {% endfor %}
            {% else %}
                <li>
                    <a href="{{ path('education/list') }}" title="{{ 'edit'|trans }}" class="edit" data-title="{{ title }}">
                    <a href="{{ path('education/list') }}" title="{{ 'edit'|trans }}" class="edit" data-title="{{ title }}">
                        [+] {{ "pages.profile.details.add_edit_education"|trans }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </section>
    <section>
        <div class="header">
            {% set title = "pages.profile.details.town"|trans|capitalize %}
            <i class="fa fa-fw fa-map-marker"></i>
            <span class="title">{{ title }}</span>
            <a href="{{ path('locality/list') }}" title="{{ 'edit'|trans }}" class="pull-right edit" data-title="{{ "pages.profile.details.towns"|trans|capitalize }}">
                <i class="fa fa-fw fa-pencil"></i>
            </a>
        </div>
        <hr>
        <ul class="listing">
            {% if profile.getTown is null %}
                <li>
                    <a href="{{ path('locality/list') }}" title="{{ 'edit'|trans }}" class="edit" data-title="{{ "pages.profile.details.towns"|trans|capitalize }}">
                        [+] {{ "pages.profile.details.add_edit_current_town"|trans }}
                    </a>
                </li>
            {% else %}
                <li>
                    <input type="checkbox" name="locality[{{ profile.getTown.id }}]" id="town-selector" checked="checked">
                    <label for="town-selector">
                        {{ "pages.profile.details.lives_in"|trans|capitalize }} {{ profile.getTown.locality.name }}, {{ profile.getTown.locality.county.name }}, {{ profile.getTown.locality.county.country.name }}
                    </label>
                </li>
            {% endif %}
        </ul>
    </section>
    <section>
        <div class="header">
            {% set title = "pages.profile.details.hometown"|trans|capitalize %}
            <i class="fa fa-fw fa-map-marker"></i>
            <span class="title">{{ title }}</span>
            <a href="{{ path('locality/list') }}" title="{{ 'edit'|trans }}" class="pull-right edit" data-title="{{ "pages.profile.details.towns"|trans|capitalize }}">
                <i class="fa fa-fw fa-pencil"></i>
            </a>
        </div>
        <hr>
        <ul class="listing">
            {% if profile.getHometown is null %}
            <li>
                <a href="{{ path('locality/list') }}" title="{{ 'edit'|trans }}" class="edit" data-title="{{ "pages.profile.details.towns"|trans|capitalize }}">
                    [+] {{ "pages.profile.details.add_edit_hometown"|trans }}
                </a>
            </li>
            {% else %}
                <li>
                    <input type="checkbox" name="locality[{{ profile.getHometown.id }}]" id="hometown-selector" checked="checked">
                    <label for="hometown-selector">
                        {{ "pages.profile.details.from"|trans|capitalize }} {{ profile.getHometown.locality.name }}, {{ profile.getHometown.locality.county.name }}, {{ profile.getHometown.locality.county.country.name }}
                    </label>
                </li>
            {% endif %}
        </ul>
    </section>
</form>