{% extends "theme_base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("vendor/starrr/starrr.css") }}">
    <link rel="stylesheet" href="{{ asset("vendor/cropper/cropper.min.css") }}">
    <link rel="stylesheet" href="{{ asset("css/pages/profile/view.css") }}">
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    {% if is_profile_owner %}
        {% include 'profile/fragment/profile-photo-update-modal.html.twig' with {'avatar': profile.avatar} %}
        {% include 'profile/fragment/profile-details-modal.html.twig' %}
    {% endif %}

    <div class="row">
        <div class="col-md-3">
            <div class="panel card-panel profile-details-panel">
                <div class="panel-heading profile-picture">
                    <div class="thumbnail">
                        {% if is_profile_owner %}
                            <button id="change-profile-picture" class="btn btn-default black hide" title="change profile picture">
                                <i class="fa fa-camera fa-fw"></i>
                                <span class="text">{{ "pages.profile.change_photo"|trans }}</span>
                            </button>
                        {% endif %}

                        {% if profile.avatar is null %}
                            <img id="profile-photo-crop" src="{{ asset("images/default_avatar_photo.png") }}">
                        {% else %}
                            <img id="profile-photo-crop" src="{{ asset(profile.avatar) }}">
                        {% endif %}
                    </div>
                </div>
                <div class="panel-body">
                    <div class="profile-name">
                        <h2>{{ profile.firstname ~ " " ~ profile.lastname }}</h2>
                    </div>
                    {% if not is_profile_owner %}
                        <ul class="follow-toggle-container">
                            <li class="label pull-left">
                                <span>Follow this user</span>
                            </li>
                            <li class="toggle pull-right">
                                <input {% if profile.followedByViewer %} checked {% endif %} id="follow-toggle-{{ profile.hash }}" type="checkbox" class="follow-toggle" data-follow="{{ path('profile/follow', {'hash': profile.hash}) }}" data-unfollow="{{ path('profile/unfollow', {'hash': profile.hash}) }}"/>
                                <label for="follow-toggle-{{ profile.hash }}"></label>
                            </li>
                        </ul>
                    {% endif %}
                    <ul class="details">
                        {% if profile.locality is not null%}
                            <li>
                                <div class="icon"><i class="fa fa-fw fa-map-marker"></i></div>
                                <div class="text">{{ profile.locality }}</div>
                            </li>
                        {% endif %}
                        {% if profile.birthday is not null%}
                            <li>
                                <div class="icon"><i class="fa fa-fw fa-calendar-o"></i></div>
                                <div class="text">Born {{ profile.birthday }}</div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="panel-footer">
                    {% if not is_profile_owner %}
                        <a class="_action-block" href="{{ path('profile/block', {'hash': profile.hash}) }}">
                           <i class="fa fa-ban"></i> block {{ profile.firstName }}
                        </a>
                    {% else %}
                        <a class="edit-profile-trigger" href="#">
                            <i class="fa fa-pencil"></i> edit profile
                        </a>
                    {% endif %}

                    <div id="edit-profile-form-container" class="hide">
                        {% if is_profile_owner %}
                            {{ form_start(edit_profile_form, {'attr' : { 'action': path('profile', {'id': profile.hash}), 'class' : 'form-horizontal', 'id' : 'edit-profile-form', 'novalidate': 'novalidate' }}) }}
                            <div class="form-group {% if edit_profile_form.firstName.vars.errors|length or edit_profile_form.lastName.vars.errors|length %}has-error{% endif %}">
                                {{ form_label(edit_profile_form.firstName, '', {'label_attr': {'class': 'col-sm-12'}}) }}
                                <div class="col-sm-12">
                                    {{ form_widget(edit_profile_form.firstName, {
                                        'attr': {'class': 'form-control', 'autocomplete': 'off'}
                                    })}}
                                    {% if edit_profile_form.firstName.vars.errors|length %}
                                        <span class="help-block">{{ form_errors(edit_profile_form.firstName) }}</span>
                                    {% endif %}
                                </div>

                                {{ form_label(edit_profile_form.lastName, '', {'label_attr': {'class': 'col-sm-12'}}) }}
                                <div class="col-sm-12">
                                    {{ form_widget(edit_profile_form.lastName, {
                                        'attr': {'class': 'form-control', 'autocomplete': 'off'}
                                    })}}
                                    {% if edit_profile_form.lastName.vars.errors|length %}
                                        <span class="help-block">{{ form_errors(edit_profile_form.lastName) }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group {% if edit_profile_form.locality.vars.errors|length %}has-error{% endif %}">
                                {{ form_label(edit_profile_form.locality, '', {'label_attr': {'class': 'col-sm-12'}}) }}
                                <div class="col-sm-12">
                                    {{ form_widget(edit_profile_form.locality, {
                                        'attr': {
                                            'class': 'form-control suggest-box locality',
                                            'autocomplete': 'off'
                                        }
                                    })}}
                                    {% if edit_profile_form.locality.vars.errors|length %}
                                        <span class="help-block">{{ form_errors(edit_profile_form.locality) }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group date-group {% if edit_profile_form.year.vars.errors|length %}has-error{% endif %}">
                                {{ form_label(edit_profile_form.year, '', {'label_attr': {'class': 'col-sm-12'}}) }}
                                <div class="col-sm-12">
                                    <div class="form-inline">
                                        {{ form_widget(edit_profile_form.year, {
                                            'attr': {
                                                'class': 'form-control',
                                                'data-update': "true",
                                                'data-type': "year"
                                            }
                                        })}}
                                        {{ form_widget(edit_profile_form.month, {
                                            'attr': {
                                                'class': 'form-control',
                                                'data-update': "true",
                                                'data-type': "month"
                                            }
                                        })}}
                                        {{ form_widget(edit_profile_form.day, {
                                            'attr': {
                                                'class': 'form-control',
                                                'data-type': "day"
                                            }
                                        })}}
                                        {% if edit_profile_form.year.vars.errors|length %}
                                            <span class="help-block">{{ form_errors(edit_profile_form.year) }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group {% if edit_profile_form.gender.vars.errors|length %}has-error{% endif %}">
                                <label for="" class="col-sm-2 control-label">{{ form_label(edit_profile_form.gender) }}</label>
                                <div class="col-sm-10">
                                    {% for key, item in edit_profile_form.gender.children %}
                                        <label class="radio-inline">
                                            {{ form_widget(item) }} {{ item.vars.label|trans({}, 'forms') }}
                                        </label>
                                    {% endfor %}
                                    {% if edit_profile_form.gender.vars.errors|length %}
                                        <span class="help-block">{{ form_errors(edit_profile_form.gender) }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    {{ form_widget(edit_profile_form.submit, {'attr': {'class': 'btn btn-success btn-block'}}) }}
                                </div>

                                <div class="col-sm-6">
                                    <button class="btn btn-default btn-block cancel-edit-profile">Cancel</button>
                                </div>
                            </div>
                            {{ form_end(edit_profile_form) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div id="profile-nav">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#recent-tab" role="tab" data-toggle="tab" aria-controls="recent-tab">
                            Recent Activity
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#vehicles-tab" role="tab" data-toggle="tab" aria-controls="vehicles-tab">
                            Vehicles <span class="badge">{{ profile.carCount }}</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#followers-tab" role="tab" data-toggle="tab" aria-controls="followers-tab">
                            Followers <span class="badge">{{ profile.followersCount }}</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#follows-tab" role="tab" data-toggle="tab" aria-controls="follows-tab">
                            Follows <span class="badge">{{ profile.followsCount }}</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#clubs-tab" role="tab" data-toggle="tab" aria-controls="clubs-tab">
                            Clubs <span class="badge">{{ profile.membershipsCount }}</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class='loader hide'><div class='bar'></div><div class='bar'></div><div class='bar'></div></div>
                    <div role="tabpanel" class="tab-pane active" id="recent-tab">
                        {% include 'profile/fragment/post-list.html.twig' with {posts: posts} %}
                    </div>
                    <div role="tabpanel" class="tab-pane row" id="vehicles-tab"></div>
                    <div role="tabpanel" class="tab-pane" id="followers-tab"></div>
                    <div role="tabpanel" class="tab-pane" id="follows-tab"></div>
                    <div role="tabpanel" class="tab-pane" id="clubs-tab"></div>
                </div>
            </div>
        </div>
    </div>
    {% if is_profile_owner %}
        <div class="hide">
            {{ form_start(photo_upload_form, {'attr': {'id': 'profile-photo-form'}}) }}
            {{ form_widget(photo_upload_form) }}
            {{ form_end(photo_upload_form) }}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var $globals = {};
        $globals['route'] = {};
        //@todo - refactor profile photo upload (photoUpload) to be the same as regular photo uploads
        $globals['route']['photoUpload'] = "{{ path('profile/upload-avatar') }}";
    </script>
    <script src="{{ asset('js/component/dateGroup.js') }}"></script>
    <script src="{{ asset("js/component/panel/section.js") }}"></script>
    <script>
        $globals['profileNav'] = {
            '#follows-tab': "{{ path('profile/follows', {'hash': profile.hash}) }}",
            '#followers-tab': "{{ path('profile/followers', {'hash': profile.hash}) }}",
            '#vehicles-tab': "{{ path('profile/vehicles', {'hash': profile.hash}) }}",
            '#clubs-tab': "{{ path('profile/memberships', {'hash': profile.hash}) }}"
        };

        $(document).ready(function(){
            $('.form-group.date-group').dateGroup();
        });
    </script>
    <script src="{{ asset("js/page/profile/view.js") }}"></script>

    {% if is_profile_owner %}
        <script src="{{ asset("vendor/cropper/cropper.min.js") }}"></script>
        <script src="{{ asset("vendor/compress/compress.js") }}"></script>
        <script src="{{ asset("js/component/image/compress.js") }}"></script>
        <script src="{{ asset("js/component/image/multi-uploader.js") }}"></script>
        <script>
            $(document).ready(function(){
                $('input.suggest-box.locality').suggest({
                    onSelect: function(suggestion) {
                        $('#{{ edit_profile_form.locality.vars.id }}').val(suggestion.uid);
                    },
                    onClear: function() {
                        $('#{{ edit_profile_form.locality.vars.id }}').val('');
                    },
                    hasSelection: function() {
                        return $('#{{ edit_profile_form.locality.vars.id }}').val().length > 0;
                    },
                    onSearch: function(keyword, suggestBox) {
                        $.ajax({
                            url: "{{ path('locality/search') }}",
                            method: 'GET',
                            data: {
                                q: keyword
                            }
                        }).done(function(response){
                            var suggestions = [];
                            for (var i = 0; i<response.length; i++) {
                                var entry = response[i];
                                suggestions.push(new Suggestion(entry.id, entry.name, ''));
                            }
                            suggestBox.updateList(suggestions);
                        });
                    }
                });

                $(document).on('click', '.edit-profile-trigger', function(event){
                    event.preventDefault();
                    $(this).addClass('hide');
                    $('#edit-profile-form-container').removeClass('hide');
                    $('.profile-details-panel .panel-body').addClass('hide');
                });

                $(document).on('click', '.cancel-edit-profile', function(event){
                    event.preventDefault();
                    $('#edit-profile-form-container').addClass('hide');
                    $('.profile-details-panel .panel-body').removeClass('hide');
                    $('.edit-profile-trigger').removeClass('hide');
                });
            });
        </script>
        <script src="{{ asset("js/page/profile/edit.js") }}"></script>
    {% endif %}
{% endblock %}

