.btn {
  border-radius: 3px;
}

.btn.btn-default.success {
  background-color: #fff;
  border-color: #4cae4c;
  color: #3c763d;
}
.btn.btn-default.success:hover {
  color: #fff;
  background-color: #5cb85c;
}

.btn.btn-default.info {
  background-color: #fff;
  border-color: #46b8da;
  color: #31708f;
}
.btn.btn-default.info:hover {
  color: #fff;
  background-color: #5bc0de;
}

.btn.btn-default.warning {
  background-color: #fff;
  border-color: #eea236;
  color: #8a6d3b;
}
.btn.btn-default.warning:hover {
  color: #fff;
  background-color: #f0ad4e;
}

.btn.btn-default.danger {
  background-color: #fff;
  border-color: #d43f3a;
  color: #a94442;
}
.btn.btn-default.danger:hover {
  color: #fff;
  background-color: #d9534f;
}

.btn.btn-default.black {
  background-color: #333;
  color: #fff;
}
.btn.btn-default.black:hover {
  color: #fff;
  background-color: #333;
}

nav.app-navbar {
  background-color: #087E8B;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: space-around;
  color: #fff;
}
nav.app-navbar a {
  text-align: center;
  flex: 1;
  padding: 10px;
  font-size: 18px;
}

article.posting {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
article.posting.no-border {
  border-bottom: none;
}
article.posting header {
  display: flex;
  justify-content: space-between;
}
article.posting header section.profile {
  display: flex;
}
article.posting header section.profile section.avatar {
  vertical-align: middle;
  margin-right: 10px;
}
article.posting header section.profile section.avatar img {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
}
article.posting header section.profile section.details {
  display: flex;
  flex-flow: column;
  vertical-align: middle;
}
article.posting header section.profile section.details a {
  font-weight: 600;
}
article.posting header section.profile section.details span {
  color: #999;
}
article.posting header section.options {
  display: flex;
  justify-content: center;
  flex-flow: column;
}
article.posting section.body {
  margin: 20px 0;
}
article.posting section.media {
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
article.posting section.media i.img {
  position: relative;
  background-size: cover;
  min-height: 100px;
  display: inline-block;
  min-width: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  flex: 1;
  border: 1px solid #fff;
}
article.posting section.media i.img span.extra {
  color: #fff;
  font-style: normal;
  font-size: 26px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
article.posting footer {
  display: flex;
  flex-flow: column;
}
article.posting footer section.stats > span {
  margin-right: 10px;
}
article.posting footer section.stats div.actions {
  display: flex;
  text-align: center;
}
article.posting footer section.stats div.actions > a {
  flex: 1;
}
article.posting footer section.sub-postings {
  margin-top: 20px;
  margin-bottom: -21px;
}
article.posting footer section.sub-postings article.posting {
  background-color: #f3f3f3;
  margin-left: -20px;
  margin-right: -20px;
}
article.posting footer section.sub-postings article.posting header section.profile section.avatar img {
  width: 20px;
  height: 20px;
}
article.posting footer section.sub-postings article.posting header section.profile section.details {
  flex-flow: row;
}
article.posting footer section.sub-postings article.posting header section.profile section.details a {
  margin-right: 10px;
}

.panel.secondary-page .panel-heading {
  padding: 10px;
  color: #fff;
}
.panel.secondary-page .panel-body {
  padding: 0;
  margin: 0;
}

.confirm-box .backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2030;
}
.confirm-box .panel {
  padding: 30px 0;
  z-index: 2040;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.confirm-box .panel .panel-body {
  padding: 30px;
  font-size: 18px;
  padding-bottom: 20px;
  line-height: 1.5;
}
.confirm-box .panel .panel-body div.nav {
  font-size: 14px;
  color: #337ab7;
  display: flex;
  justify-content: space-between;
  line-height: 3;
}

.info-box .backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2030;
}
.info-box .panel {
  z-index: 2040;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.info-box .panel .panel-body {
  padding: 30px 15px;
}

.menu-box .backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2030;
}
.menu-box .panel {
  max-height: 100%;
  overflow-y: scroll;
  z-index: 2040;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  animation: slideUp 0.5s ease;
  -webkit-animation: slideUp 0.5s ease;
}
.menu-box .panel .panel-body {
  padding: 0;
  margin: 0;
}
.menu-box .panel .panel-body ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu-box .panel .panel-body ul li.menu-item {
  padding: 25px 15px;
}
.menu-box .panel .panel-body ul li.menu-item span {
  margin-left: 15px;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  40% {
    transform: translateY(0%);
    padding-bottom: 30px;
  }
  100% {
    padding-bottom: 0;
  }
}
.form-box .panel {
  height: 100%;
  z-index: 2020;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  animation: slideUp 0.5s ease;
  -webkit-animation: slideUp 0.5s ease;
}
.form-box .panel .panel-heading {
  padding: 0;
  background-color: #337ab7;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.form-box .panel .panel-heading a, .form-box .panel .panel-heading label {
  padding: 20px;
  margin: 0;
  font-weight: normal;
}
.form-box .panel .panel-body {
  padding: 10px;
  margin: 0;
  height: 100%;
  overflow: scroll;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  40% {
    transform: translateY(0%);
    padding-bottom: 30px;
  }
  100% {
    padding-bottom: 0;
  }
}
#app-modal > article.posting {
  height: 100%;
  z-index: 2020;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  animation: slideUp 0.5s ease;
  -webkit-animation: slideUp 0.5s ease;
}
#app-modal > article.posting > header {
  z-index: 2021;
  height: 47px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  background-color: #087E8B;
  line-height: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
#app-modal > article.posting > header a, #app-modal > article.posting > header label {
  padding: 10px 20px;
  margin: 0;
  font-weight: normal;
}
#app-modal > article.posting > header + section {
  margin-top: 47px;
}
#app-modal > article.posting > .body {
  z-index: 2020;
  padding: 20px;
  height: 100%;
  overflow: scroll;
}
#app-modal > article.posting .progress {
  height: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  40% {
    transform: translateY(0%);
    padding-bottom: 30px;
  }
  100% {
    padding-bottom: 0;
  }
}
.thumbnail-list ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  background-color: #efefef;
  padding: 10px;
  list-style-type: none;
}
.thumbnail-list ul li {
  display: inline-block;
  line-height: 0;
}
.thumbnail-list ul li > i {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.thumbnail-list ul li > i.placeholder-loading {
  background-color: #efefef;
  position: relative;
}
.thumbnail-list ul li > i.placeholder-loading:before {
  -webkit-animation: fa-spin 1s infinite linear;
  -o-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
  content: "\f110";
  font-family: FontAwesome;
  font-size: 50px;
  color: #bfbfbf;
  font-style: normal;
  text-align: center;
  position: absolute;
  line-height: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.thumbnail-list ul li > i.placeholder-unloading {
  position: relative;
}
.thumbnail-list ul li > i.placeholder-unloading:before {
  content: "\f014";
  font-family: FontAwesome;
  font-size: 50px;
  color: #bfbfbf;
  font-style: normal;
  text-align: center;
  position: absolute;
  line-height: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.media-gallery {
  z-index: 2030;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.media-gallery .backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}
.media-gallery .media {
  z-index: 2050;
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  overflow: scroll;
  max-height: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.media-gallery .media img {
  width: 100%;
  position: relative;
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}
.media-gallery .prev {
  z-index: 2050;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px 10px;
}
.media-gallery .next {
  z-index: 2050;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px 10px;
}
.media-gallery .dismiss {
  z-index: 2050;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
  border-radius: 100%;
  line-height: 0;
}

body {
  background-color: #fff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 47px;
}
body a, body a:hover, body a:active, body a:visited, body a:focus {
  text-decoration: none;
  color: inherit;
}
body textarea {
  resize: none;
}
body label.custom-radio {
  position: relative;
  width: 100%;
  padding-left: 20px;
}
body label.custom-radio span.lbl:before {
  content: '\f1db';
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  top: 0;
  color: #087E8B;
  font-size: 18px;
  line-height: 1.3;
}
body label.custom-radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
body label.custom-radio input[type=radio]:checked ~ .lbl:before {
  content: '\f058';
}
body .flex {
  display: flex;
}
body .flex.row {
  flex-flow: row;
}
body .flex.space-around {
  justify-content: space-around;
}
body .flex.space-between {
  justify-content: space-between;
}
body .flex.center {
  justify-content: center;
}
body .nopadding {
  padding: 0 !important;
}
body .navbar .navbar-profile-picture {
  padding-top: 10px;
  padding-bottom: 0;
}
body .navbar .navbar-profile-picture > img {
  width: 30px;
}
body article.posting.pagination {
  padding: 0;
  margin: 0;
  display: block;
  border-radius: 0;
}
body article.posting.pagination nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
body article.posting.pagination nav a {
  flex: 1;
  padding: 10px;
}
body article.posting.pagination nav a.page {
  flex: 2;
}
body article.posting.pagination nav a.disabled {
  color: #efefef;
}
body article.posting.loader {
  color: #efefef;
  text-align: center;
}
body .noresults {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px;
  font-style: italic;
}
body .minimal-profile-view {
  margin: 10px;
}
body .minimal-profile-view ul {
  padding: 0;
  list-style-type: none;
  display: table-row;
}
body .minimal-profile-view ul li.avatar {
  display: table-cell;
}
body .minimal-profile-view ul li.avatar img.profile-picture {
  width: 40px;
  border-radius: 40px;
}
body .minimal-profile-view ul li.details {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}
body .croppie-container.ready {
  height: 320px;
}
body .comments-list-view {
  max-height: 350px;
  overflow: scroll;
}
body .comment-view {
  font-size: 12px;
  padding: 10px;
}
body .comment-view.reply {
  margin-left: 40px;
}
body .comment-view ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
body .comment-view ul li {
  display: inline-block;
  vertical-align: middle;
}
body .comment-view ul li img {
  width: 40px;
  border-radius: 40px;
}
body .comment-view ul li.details {
  vertical-align: middle;
  padding: 10px;
  background: #efefef;
  margin-left: 10px;
  display: inline-block;
  border-radius: 55px;
}
body .comment-view ul li.details li.likes {
  position: absolute;
  right: 0;
  background: #efefef;
  border-radius: 10px;
  padding: 1px 10px;
  border: 1px solid #BFBFBF;
  bottom: -28px;
}
body .comment-view ul li.extra {
  display: block;
  margin-left: 60px;
}
body .comment-view ul li.extra li {
  padding: 5px;
}
body .post-comment-section {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
body .iziModal a.social-stats-trigger.back {
  padding: 10px;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}
body .car-view-panel .panel-heading .social-stats ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body .car-view-panel .panel-heading .social-stats ul li {
  display: inline-block;
  padding: 10px;
}
body .car-view-panel .panel-heading .social-stats ul li a {
  text-decoration: none;
  color: #31708f;
}

input.follow-toggle {
  height: 0;
  width: 0;
  visibility: hidden;
}
input.follow-toggle + label {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 30px;
  background: grey;
  border-radius: 30px;
  position: relative;
}
input.follow-toggle + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 20px;
  transition: 0.3s;
}
input.follow-toggle:checked + label {
  background: #bada55;
}
input.follow-toggle:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
input.follow-toggle + label:active:after {
  width: 30px;
}

form label {
  position: relative;
}
form label.required::after {
  content: '*';
  color: red;
  padding-left: 5px;
}

.photo-gallery .album img {
  border: 2px solid #fff;
}

.image-uploader {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  padding: 20px;
}
.image-uploader i {
  margin-right: 10px;
}
.image-uploader input[type=file] {
  cursor: pointer;
  font-size: 100px;
  position: absolute;
  left: -550px;
  top: 0px;
  opacity: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#app-modal-wrapper {
  z-index: 9999 !important;
}

.iziModal-overlay {
  z-index: 9998 !important;
}

.panel {
  margin-bottom: 10px;
}
.panel .panel-heading .social ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.panel .panel-heading .social ul.actions li {
  display: inline-block;
}
.panel .panel-heading .social ul.actions li a {
  display: inline-block;
  padding: 10px;
}
.panel .panel-heading .social ul.actions li a i.fa {
  font-size: 18px;
}
.panel .panel-body {
  position: relative;
}
.panel .panel-body ul.details {
  line-height: 2;
  padding-left: 0px;
  list-style-type: none;
}
.panel .panel-body ul.details li:not(:last-child) {
  padding-bottom: 0;
}
.panel .panel-body ul.details li i {
  color: #999;
}

.section-panel {
  border-color: #ddd;
}
.section-panel .panel-heading {
  padding: 5px 10px;
}
.section-panel .panel-heading .panel-title {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: bold;
}
.section-panel .panel-footer {
  background-color: #fff;
  border-top: 0;
}
.section-panel .panel-footer .more {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 24px;
  margin-top: -20px;
}
.section-panel .panel-footer .more:hover, .section-panel .panel-footer .more:visited, .section-panel .panel-footer .more:focus {
  text-decoration: none;
}
.section-panel .panel-footer .loader {
  text-align: center;
}

.card-panel .panel-heading {
  padding: 0;
  margin: 0;
}
.card-panel .panel-heading .thumbnail {
  border: none;
  padding: 0;
  margin: -1px;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.card-panel .panel-heading .rating {
  text-align: center;
  margin-top: -30px;
}
.card-panel .panel-heading .rating .starrr a {
  font-size: 24px;
  letter-spacing: 7px;
}
.card-panel .panel-body {
  margin-bottom: -10px;
  padding-bottom: 5px;
}
.card-panel .panel-body .details {
  font-size: 12px;
  display: table-row;
}
.card-panel .panel-body .details .icon {
  display: table-cell;
}
.card-panel .panel-body .details .text {
  display: table-cell;
  padding-left: 10px;
}
.card-panel .panel-footer {
  background-color: #fff;
  border-top: 0;
}
.card-panel .panel-footer .more {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 24px;
  margin-top: -20px;
}
.card-panel .panel-footer .more:hover, .card-panel .panel-footer .more:visited, .card-panel .panel-footer .more:focus {
  text-decoration: none;
}

.post-panel .panel-heading {
  padding-top: 0;
  padding-left: 0;
  margin: -1px;
  max-height: 50px;
}
.post-panel .panel-heading .profile-picture {
  border-radius: 3px 0 0 0;
  width: 50px;
}
.post-panel .panel-heading .details {
  display: inline-block;
  list-style-type: none;
  padding-left: 15px;
  padding-top: 5px;
}
.post-panel .panel-heading .details .name {
  font-weight: 700;
  font-size: normal;
}
.post-panel .panel-heading .details .name a {
  color: #fff;
  text-decoration: none;
}
.post-panel .panel-heading .details .name a:hover, .post-panel .panel-heading .details .name a:visited {
  color: #fff;
  text-decoration: none;
}
.post-panel .panel-heading .details .date {
  font-size: smaller;
  color: #fff;
}
.post-panel .panel-heading .options {
  height: 50px;
  padding: 10px 0;
}
.post-panel .panel-heading .options .more {
  display: inline-block;
  text-align: right;
  width: 100%;
  font-size: 24px;
  margin-top: -20px;
  color: #fff;
}
.post-panel .panel-heading .options .more:hover, .post-panel .panel-heading .options .more:visited, .post-panel .panel-heading .options .more:focus {
  text-decoration: none;
}
.post-panel .panel-heading .options .dropdown-menu a > .fa {
  padding-right: 10px;
}
.post-panel .panel-body .video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.post-panel .panel-body .video-container .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.post-panel .panel-body img {
  width: 100%;
  padding: 10px 0;
}
.post-panel .panel-footer ul.stats {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.post-panel .panel-footer ul.stats li {
  display: inline;
  margin-right: 20px;
}
.post-panel .panel-footer ul.stats li .action {
  margin-right: 5px;
}
.post-panel .panel-footer ul.stats li .action:hover, .post-panel .panel-footer ul.stats li .action:visited, .post-panel .panel-footer ul.stats li .action:focus {
  text-decoration: none;
}
.post-panel .panel-footer ul.stats li .action.like > .fa + .fa {
  display: none;
}
.post-panel .panel-footer ul.stats li .action.like:hover > .fa {
  display: none;
}
.post-panel .panel-footer ul.stats li .action.like:hover > .fa + .fa {
  display: inherit;
}

.jumbotron.profile-header {
  padding: 0;
  margin-bottom: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jumbotron.profile-header .cover {
  max-height: 348.438px;
  overflow: hidden;
}
.jumbotron.profile-header .cover img {
  width: 100%;
  border-radius: 3px 3px 0 0;
}
.jumbotron.profile-header .cover .photo-crop-controls {
  position: absolute;
  z-index: 1;
  height: 60px;
  top: 0;
  bottom: 0;
  right: 15px;
  margin: auto;
}
.jumbotron.profile-header .cover #change-cover {
  position: absolute;
  right: 14px;
  bottom: 15px;
  border-radius: 0;
}
.jumbotron.profile-header .cover #cover-photo-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.jumbotron.profile-header .profile-picture {
  display: inline-block;
  position: relative;
}
.jumbotron.profile-header .profile-picture button.btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  margin: auto;
  width: 40px;
}
.jumbotron.profile-header .profile-picture img {
  width: 200px;
  border: 3px solid #fff;
  border-radius: 100%;
  margin-top: -100px;
}
.jumbotron.profile-header .profile-details {
  display: inline-block;
  padding-left: 20px;
  padding-top: 5px;
}
.jumbotron.profile-header .profile-details h2 {
  display: inline;
  font-weight: 400;
}
@media only screen and (min-width: 1px) and (max-width: 992px) {
  .jumbotron.profile-header .profile-picture {
    display: block;
    text-align: center;
  }
  .jumbotron.profile-header .profile-picture img {
    margin-top: -50px;
  }
  .jumbotron.profile-header .profile-details {
    display: block;
    text-align: center;
    padding-left: 0;
  }
}

.profile-menu {
  margin-bottom: 30px;
  margin-top: -1px;
}
.profile-menu button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.section-panel .panel-body .profile-gallery .thumbnail {
  border: none;
  margin-bottom: 0;
}

.section-panel .panel-body ul.post-excerpt {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  list-style-type: none;
}
.section-panel .panel-body ul.post-excerpt .profile-picture {
  width: 40px;
  float: left;
}
.section-panel .panel-body ul.post-excerpt ul.details {
  color: #999;
  list-style-type: none;
  padding-left: 10px;
  float: left;
  font-size: small;
}
.section-panel .panel-body ul.post-excerpt ul.details li {
  display: inline;
  padding-right: 10px;
}
.section-panel .panel-body ul.post-excerpt ul.details .name {
  display: block;
  font-weight: 700;
}
.section-panel .panel-body ul.post-excerpt .watch {
  float: right;
}
.section-panel .panel-body ul.post-excerpt .excerpt {
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

.section-panel .panel-body .event {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.section-panel .panel-body .event:not(:last-child) {
  margin-bottom: 20px;
}
.section-panel .panel-body .event ul.calendar {
  vertical-align: top;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  list-style-type: none;
  padding: 0;
  width: 150px;
  font-size: 18px;
}
.section-panel .panel-body .event ul.calendar .date {
  padding-bottom: 15px;
  color: #999;
}
.section-panel .panel-body .event ul.calendar .date .weekday {
  text-transform: capitalize;
  padding: 10px 0;
  height: 25px;
}
.section-panel .panel-body .event ul.calendar .date .day {
  text-transform: capitalize;
  display: block;
  font-weight: 700;
  font-size: 36px;
}
.section-panel .panel-body .event ul.actions {
  vertical-align: top;
  margin-top: 25px;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin-left: -5px;
}
.section-panel .panel-body .event ul.actions li {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}
.section-panel .panel-body .event ul.actions li a {
  padding: 2px 10px;
  display: block;
}
.section-panel .panel-body .event ul.actions li a:hover {
  background-color: #337ab7;
  color: #fff;
}
.section-panel .panel-body .event .description {
  color: #999;
  display: inline-block;
  margin-left: 50px;
  margin-top: -5px;
}
.section-panel .panel-body .event .description .title {
  font-size: 18px;
}
.section-panel .panel-body .event .description ul.details {
  padding: 0;
  list-style-type: none;
}
.section-panel .panel-body .event .description ul.details li > i.fa {
  width: 25px;
  text-align: center;
}

.suggestion-list-container {
  position: relative;
}
.suggestion-list-container ul.suggestion_list {
  position: absolute;
  max-height: 200px;
  overflow: auto;
  z-index: 1;
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #ccc;
  margin-top: 5px;
  width: 100%;
}
.suggestion-list-container ul.suggestion_list li.entry hr {
  margin: 0;
}
.suggestion-list-container ul.suggestion_list li.entry a {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
}
.suggestion-list-container ul.suggestion_list li.entry a:hover {
  text-decoration: none;
  background-color: #e4e4e4;
}
.suggestion-list-container ul.suggestion_list li.entry ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.suggestion-list-container ul.suggestion_list li.entry ul li.title {
  font-weight: bold;
}
.suggestion-list-container ul.suggestion_list li.entry ul li.details {
  color: #999;
}

.vehicle-panel .panel-body .details {
  display: inline-block;
  width: 100%;
}
.vehicle-panel .panel-body .details .title {
  text-align: center;
}
.vehicle-panel .panel-body .details .title h3 {
  margin: 0 0 10px 0;
}

.profile-details-panel .panel-heading .thumbnail {
  position: relative;
}
.profile-details-panel .panel-heading .thumbnail #change-profile-picture {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.profile-details-panel .panel-heading .thumbnail img {
  width: 100%;
}
.profile-details-panel .panel-body .profile-name {
  padding-bottom: 10px;
}
.profile-details-panel .panel-body .profile-name h2 {
  margin: 0;
}
.profile-details-panel .panel-body ul.follow-toggle-container {
  min-height: 50px;
  padding: 0;
  list-style-type: none;
  text-align: center;
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
}
.profile-details-panel .panel-body ul.follow-toggle-container > li {
  display: inline-block;
  vertical-align: middle;
}
.profile-details-panel .panel-body ul.follow-toggle-container li.label {
  margin-top: 10px;
}
.profile-details-panel .panel-body ul.follow-toggle-container li.label > span {
  font-size: 18px;
  color: #999;
  font-weight: 200;
  line-height: 1.5;
}
.profile-details-panel .panel-body ul.follow-toggle-container li.toggle {
  margin-top: 10px;
}
.profile-details-panel .panel-body ul.follow-toggle-container li.toggle > label {
  margin: 0;
}
.profile-details-panel .panel-body .details {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.profile-details-panel .panel-body .details .icon {
  display: table-cell;
}
.profile-details-panel .panel-body .details .text {
  padding-left: 10px;
  display: table-cell;
  word-wrap: break-word;
}

#profile-nav {
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}
#profile-nav .tab-content .tab-pane {
  padding: 10px 0;
}

#profile-photo-update-modal .modal-body .profile-photo-crop-container {
  position: relative;
  width: 100%;
}
#profile-photo-update-modal .modal-body .profile-photo-crop-container #profile-photo-crop {
  min-width: 100%;
}
#profile-photo-update-modal .modal-body .profile-photo-crop-container .cropper-container .cropper-crop-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px dashed #39f;
  border-radius: 100%;
  pointer-events: none;
  opacity: 1;
}

#profile-details-modal .modal-body {
  height: 450px;
  overflow-y: auto;
}
#profile-details-modal .modal-body section .header {
  padding: 15px;
  background-color: #f9f9f9;
}
#profile-details-modal .modal-body section .header .title {
  display: inline;
  padding-left: 10px;
  font-size: 14px;
}
#profile-details-modal .modal-body section ul.listing {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
}
#profile-details-modal .modal-body section ul.listing li {
  padding: 15px 30px;
}
#profile-details-modal .modal-body section ul.listing li input[type="checkbox"] {
  margin: 0;
}
#profile-details-modal .modal-body section ul.listing li label {
  margin: 0;
  font-weight: 400;
  padding-left: 10px;
}
#profile-details-modal .modal-body hr {
  margin: 0;
}

ul.listing {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.listing li.item {
  padding: 15px 30px;
}
ul.listing li.item .title {
  display: block;
  font-size: 14px;
  line-height: 2;
}
ul.listing li.item .details {
  font-size: 12px;
  display: block;
  color: #999;
}
ul.listing li.item .form {
  padding: 30px;
  display: inline-block;
  width: 100%;
  background-color: #efefef;
  border: 1px solid #bfbfbf;
}
ul.listing li.item .form label {
  font-weight: 400;
}
ul.listing li.item a.delete {
  margin-left: 10px;
}
ul.listing li.item .delete-confirmation {
  margin-top: 10px;
}
ul.listing li.item .delete-confirmation .controls {
  padding-top: 10px;
}

.car-view-panel ul.details li.title h3 {
  margin-top: 0;
}
.car-view-panel ul.details li.spec {
  display: inline-block;
  width: 100%;
  line-height: 1.5;
}
.car-view-panel ul.details li.spec ul {
  padding: 0;
  list-style-type: none;
}

.car-item {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.07);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.car-item .avatar {
  height: 250px;
}
.car-item .avatar img.img {
  width: 100%;
  background-size: cover;
  height: 100%;
  display: inline-block;
  background-position: 45% 45%;
  background-repeat: no-repeat;
}
.car-item .social-stats {
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;
}
.car-item .social-stats a {
  padding-right: 10px;
  color: #999;
  font-size: 12px;
}
.car-item .social-actions {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.car-item .social-actions a {
  flex-grow: 1;
  padding: 10px;
}
.car-item .social-actions a:hover {
  background: #5bc0de;
  color: white;
  text-decoration: none;
}
.car-item .info {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.car-item .info .title {
  padding: 10px 10px 0;
  font-size: 18px;
  margin: 0;
}
.car-item .info .data {
  font-size: 12px;
  padding: 0 10px 5px 10px;
  color: #999;
}
.car-item .info .data ul.details {
  margin: 10px 0 0;
  border-top: 1px solid #efefef;
  list-style-type: none;
  padding: 10px 0 0;
}
.car-item .info .data ul.details li {
  line-height: 2;
}
.car-item .info .data ul.details li ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

#profile-options-dropdown {
  position: relative;
  top: 0;
  right: 0;
}
#profile-options-dropdown button {
  border: none;
}
#profile-options-dropdown button i.fa {
  color: #999;
}

.post {
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
}
.post ul.header {
  list-style-type: none;
  padding: 0;
}
.post ul.header li {
  display: inline-block;
}
.post ul.header li.details {
  vertical-align: top;
  padding-left: 10px;
}
.post ul.header li.details span {
  display: block;
}
.post ul.header li.details span.name {
  text-transform: capitalize;
  font-weight: bold;
}
.post ul.header li.details span.timestamp {
  font-size: 12px;
  color: #999;
}
.post ul.header li.avatar img {
  width: 40px;
  border-radius: 40px;
}
.post div.social-stats ul {
  list-style-type: none;
  padding: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.post div.social-stats ul li {
  display: inline-block;
}
.post div.social-stats ul li a {
  padding-right: 10px;
  color: #999;
  font-size: 12px;
}
.post div.social-actions {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.post div.social-actions a {
  flex-grow: 1;
  padding: 10px;
}
.post div.social-actions a:hover {
  background: #5bc0de;
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=view.css.map */
