.suggestion-list-container {
  position: relative;
  ul.suggestion_list {
    position: absolute;
    max-height: 200px;
    overflow: auto;
    z-index: 1;
    background-color: #fff;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #ccc;
    margin-top: 5px;
    width: 100%;
    li.entry {
      hr {
        margin: 0;
      }
      a {
        display: inline-block;
        width: 100%;
        padding: 10px 15px;
        &:hover {
          text-decoration: none;
          background-color: #e4e4e4;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          &.title {
            font-weight: bold;
          }
          &.details {
            color: #999;
          }
        }
      }
    }
  }
}