{% extends 'theme_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/pages/homepage/account_activated.css") }}">
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success text-center" role="alert">
                <strong>{{ "pages.account_activated.title"|trans }}</strong> {{ "pages.account_activated.msg"|trans }} <a href="{{ path("login") }}">{{ "pages.account_activated.login_link"|trans }}</a>.
            </div>
        </div>
    </div>
{% endblock %}
