{% extends "theme_base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/pages/security/base_security_form.css") }}">
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="security-form-wrapper">
                <h2 class="title">{{ "activate_account.title"|trans({}, "forms") }}</h2>
                <p class="description">{{ "activate_account.info"|trans({}, "forms") }}</p>
                {% if form.email.vars.errors|length or form.token.vars.errors|length %}
                    <div class="alert alert-danger" role="alert">{{ "password_reset.error"|trans({}, "forms") }}</div>
                {% endif %}
                {{ form_start(form, {'attr' : { 'class' : 'form-horizontal', 'novalidate': 'novalidate' }}) }}
                <div class="form-group {% if form.email.vars.errors|length %}has-error{% endif %}">
                    {{ form_widget(form.email, {
                        'attr': {'class': 'form-control'}
                    })}}
                    {% if form.email.vars.errors|length %}
                        <span class="help-block">{{ form_errors(form.email) }}</span>
                    {% endif %}
                </div>
                <div class="form-group {% if form.token.vars.errors|length %}has-error{% endif %}">
                    {{ form_widget(form.token, {
                        'attr': {'class': 'form-control'}
                    })}}
                    {% if form.token.vars.errors|length %}
                        <span class="help-block">{{ form_errors(form.token) }}</span>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success col-xs-12'}}) }}
                </div>
                <hr>
                <div class="extra">
                    <a href="{{ path('resend_activation_code') }}">
                        {{ "activate_account.resend"|trans({}, "forms") }}
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}