{% extends "theme_base.html.twig" %}

{% block headjavascripts %}
    {#<script src='https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}' async defer></script>#}
    <script>
        function onSubmit(token) {
            document.getElementById("login-form").submit();
        }
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/pages/security/login.css") }}">
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let hasError = {{ error is not null ? 'true' : 'false'}};
        let username = '{{ username }}';
    </script>
    <script type="text/babel" src="{{ asset('js/react/SecondaryPage.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/Login.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/Register.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/ActivateAccount.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/PasswordReset.jsx') }}"></script>
    <script type="text/babel">
        ReactDOM.render(
            <Login error={hasError} username={username}/>,
            document.getElementById('root')
        );
    </script>
{% endblock %}
