{% extends "theme_base.html.twig" %}

{% block headjavascripts %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/pages/security/login.css") }}">
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/babel" src="{{ asset('js/react/PasswordReset.jsx') }}"></script>
    <script type="text/babel">
        ReactDOM.render(
            <PasswordReset/>,
            document.getElementById('root')
        );
    </script>
{% endblock %}
