@import "../../theme/base";
@import "../../theme/panel/base";
@import "../../theme/panel/section";
@import "../../theme/panel/card";
@import "../../theme/panel/post";
@import "../../theme/profile-header";
@import "../../theme/profile-menu";
@import "../../theme/panel/gallery";
@import "../../theme/panel/latest-posts";
@import "../../theme/panel/event";
@import "../../theme/panel/hall-of-fame";
@import "../../theme/plugin/suggest-box/style";

.vehicle-panel {
  .panel-body {
    .details {
      display: inline-block;
      width: 100%;
      .title {
        text-align: center;
        h3 {
          margin: 0 0 10px 0;
        }
      }
    }
  }
}

.profile-details-panel {
  .panel-heading {
    .thumbnail {
      position: relative;
      #change-profile-picture {
        position: absolute;
        bottom: 5px;
        left: 5px;
      }
      img {
        width: 100%;
      }
    }
  }
  .panel-body {
    .profile-name {
      padding-bottom: 10px;
      h2 {
        margin: 0;
      }
    }

    ul.follow-toggle-container{
      min-height: 50px;
      padding: 0;
      list-style-type: none;
      text-align: center;
      border-top: 1px solid #EFEFEF;
      border-bottom: 1px solid #EFEFEF;
      > li {
        display: inline-block;
        vertical-align: middle;
      }

      li.label {
        margin-top: 10px;
        > span {
          font-size: $font-big;
          color: $secondary-color;
          font-weight: 200;
          line-height: 1.5;
        }
      }

      li.toggle {
        margin-top: 10px;
        > label {
          margin: 0;
        }
      }
    }

    .details {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: $font-small;
      .icon {
        display: table-cell;
      }
      .text {
        padding-left: 10px;
        display: table-cell;
        word-wrap: break-word;
      }
    }
  }
  .panel-footer {
  }
}

#profile-nav{
  background-color: $color-white;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  .tab-content {
    .tab-pane {
      padding: 10px 0;
    }
  }
}

#profile-photo-update-modal {
  .modal-body {
    .profile-photo-crop-container {
      position: relative;
      width: 100%;
      #profile-photo-crop {
        min-width:100%;
      }
      .cropper-container {
        .cropper-crop-box:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 3px dashed #39f;
          border-radius: 100%;
          pointer-events: none;
          opacity: 1;
        }
      }
    }
  }
}

#profile-details-modal {
  .modal-body {
    height: 450px;
    overflow-y: auto;
    section {
      .header {
        padding: 15px;
        background-color: #f9f9f9;
        .title {
          display: inline;
          padding-left: 10px;
          font-size: $font-normal;
        }
      }
      ul.listing {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: $font-small;
        li{
          padding: 15px 30px;
          input[type="checkbox"] {
            margin: 0;
          }
          label {
            margin: 0;
            font-weight: 400;
            padding-left: 10px;
          }
        }
      }
    }
    hr{
      margin: 0;
    }
  }
}

ul.listing {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li.item {
    padding: 15px 30px;
    .title {
      display: block;
      font-size: $font-normal;
      line-height: 2;
    }
    .details {
      font-size: $font-small;
      display: block;
      color: $secondary-color;
    }
    .form {
      padding: 30px;
      display: inline-block;
      width: 100%;
      background-color: #efefef;
      border: 1px solid #bfbfbf;
      label {
        font-weight: 400;
      }
    }
    a.delete {
      margin-left: 10px;
    }
    .delete-confirmation {
      margin-top: 10px;
      .controls {
        padding-top: 10px;
      }
    }
  }
}

.car-view-panel {
  ul.details {
    li.title h3{
      margin-top: 0;
    }
    li.spec {
      display: inline-block;
      width: 100%;
      line-height: 1.5;
      ul {
        padding: 0;
        list-style-type: none;
      }
    }
  }
}

.car-item {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.07);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.07);
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.07);
  
  position: relative;
  border: 1px solid $color-border;
  .avatar {
    height: 250px;
    img.img {
      width: 100%;
      background-size: cover;
      height: 100%;
      display: inline-block;
      background-position: 45% 45%;
      background-repeat: no-repeat;
    }
  }

  .social-stats {
    padding:5px 10px;
    display: flex;
    justify-content: flex-start;
    a {
      padding-right: 10px;
      color: $secondary-color;
      font-size: $font-small;
    }
  }

  .social-actions {
    display: flex;
    justify-content: space-around;
    text-align: center;
    a {
      flex-grow: 1;
      padding: 10px;
      &:hover {
        background: $color-bg-info;
        color: white;
        text-decoration: none;
      }
    }
  }

  .info {
    border-top: 1px solid $color-border;
    border-bottom: 1px solid $color-border;
    .title {
      padding: 10px 10px 0;
      font-size: $font-big;
      margin: 0;
      }
    .data {
      font-size: $font-small;
      padding:0 10px 5px 10px;
      color: $secondary-color;
      ul.details {
        margin: 10px 0 0;
        border-top: 1px solid $color-light-gray;
        list-style-type: none;
        padding: 10px 0 0;
        li {
          line-height: 2;
          ul {
            list-style-type: none;
            padding: 0;
            margin:0;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
}

#profile-options-dropdown {
  position: relative;
  top: 0;
  right: 0;
  button {
    border: none;
    i.fa {
      color: $secondary-color;
    }
  }
}

.post {
  border: 1px solid $color-border;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
  ul.header {
    list-style-type: none;
    padding: 0;
    li {
      display: inline-block;
      &.details {
        vertical-align: top;
        padding-left: 10px;
        span {
          display: block;
          &.name {
            text-transform: capitalize;
            font-weight: bold;
          }
          &.timestamp {
            font-size: 12px;
            color: #999;
          }
        }
      }
      &.avatar {
        img {
          width: 40px;
          border-radius: 40px;
        }
      }
    }
  }
  div.social-stats {
    ul {
      list-style-type: none;
      padding: 5px;
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
      li {
        display: inline-block;
        a {
          padding-right: 10px;
          color: #999;
          font-size: 12px;
        }
      }
    }
  }
  div.social-actions {
    display: flex;
    justify-content: space-around;
    text-align: center;
    a {
      flex-grow: 1;
      padding: 10px;
      &:hover {
        background: #5bc0de;
        color: white;
        text-decoration: none;
      }
    }
  }
}