@import "../../theme/base";

ul {
  list-style: none;
  padding: 0;
}

.search-results {
  .profile {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    .profile-picture img {
      width: 75px;
    }
    .profile-details ul li {
      color: lightgray;
    }
    ul {
      display: table-row;
    }
    .profile-picture {
      display: table-cell;
      padding: 10px;
      vertical-align: middle;
    }
    .profile-details {
      display: table-cell;
      padding: 10px;
      vertical-align: middle;
      ul li:first-child {
        font-weight: 700;
        + li {
          color: #000;
        }
      }
    }
    .profile-picture {
      .avatar {
        text-align: center;
        a {
          border: 5px solid #fff;
          position: relative;
          box-shadow: 0 0 5px #999;
          display: inline-block;
        }
      }
      .controls {
        margin-top: 5px;
        .status {
          padding: 6px 12px;
        }
      }
    }
  }
  .loader {
    background-color: $color-white;
    text-align: center;
    padding: 20px;
    color: $secondary-color;
  }
}
