{% extends 'theme_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/pages/newsfeed/index.css") }}">
{% endblock %}


{% block body %}
    {% include 'navbar.html.twig' %}
    <div id="root">
        <a href="{{ path('logout') }}">logout</a>
        <h1>Welcome</h1>
        <br>
        <a href="{{ path('profile', {id: hash}) }}">go to profile</a>
    </div>
{% endblock %}
