@import "../../theme/base";
@import "../../theme/panel/base";
@import "../../theme/panel/section";
@import "../../component/club-entry";
@import "../../component/club-member";

#root {
  min-height: 960px;
  .club {
    section.header {
        section.logo img {
          width: 100%;
        }
    }
    section.body {
      a.club-name {
        display: block;
        text-align: center;
        font-size: $font-big;
      }
    }
    .fullscreen-dropdown {
      .dropdown-backdrop {
        background-color:$backdrop-color;
      }
      .dropdown-menu {
        padding: 0;
        position: fixed;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
      }
    }
  }
}

#app-modal {
  article.posting {
    section.body {
      ul.list-group {
        li.list-group-item.logo {
          padding: 0;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}