body {
  background-color: #e4e4e4;
  font-family: 'Jura', sans-serif;
  padding-top: 20px;
}

.section-panel {
  border-color: #ddd;
}
.section-panel .panel-heading .panel-title {
  font-weight: 700;
  text-transform: capitalize;
}
.section-panel .panel-body {
  padding-top: 25px;
}
.section-panel .panel-footer {
  background-color: #fff;
  border-top: 0;
}
.section-panel .panel-footer .more {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 24px;
  margin-top: -20px;
}
.section-panel .panel-footer .more:hover, .section-panel .panel-footer .more:visited, .section-panel .panel-footer .more:focus {
  text-decoration: none;
}
.section-panel .panel-footer .loader {
  text-align: center;
}

.card-panel .panel-heading {
  padding: 0;
  margin: 0;
}
.card-panel .panel-heading .thumbnail {
  border: none;
  padding: 0;
  margin: -1px;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.card-panel .panel-body {
  padding-top: 0;
  margin-top: -30px;
  margin-bottom: -10px;
  padding-bottom: 5px;
}
.card-panel .panel-body .rating {
  text-align: center;
}
.card-panel .panel-body .rating .starrr a {
  font-size: 24px;
  letter-spacing: 7px;
}
.card-panel .panel-body ul.details {
  padding-top: 20px;
  padding-left: 0px;
  list-style-type: none;
}
.card-panel .panel-body ul.details li:not(:last-child) {
  padding-bottom: 10px;
}
.card-panel .panel-body ul.details li i {
  padding-right: 10px;
  color: #999;
}
.card-panel .panel-footer {
  background-color: #fff;
  border-top: 0;
}
.card-panel .panel-footer .more {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 24px;
  margin-top: -20px;
}
.card-panel .panel-footer .more:hover, .card-panel .panel-footer .more:visited, .card-panel .panel-footer .more:focus {
  text-decoration: none;
}

.post-panel .panel-heading {
  padding-top: 0;
  padding-left: 0;
  margin: -1px;
  max-height: 50px;
}
.post-panel .panel-heading .profile-picture {
  border-radius: 3px 0 0 0;
  width: 50px;
}
.post-panel .panel-heading .details {
  display: inline-block;
  list-style-type: none;
  padding-left: 15px;
  padding-top: 5px;
}
.post-panel .panel-heading .details .name {
  font-weight: 700;
  font-size: normal;
}
.post-panel .panel-heading .details .name a {
  color: #fff;
  text-decoration: none;
}
.post-panel .panel-heading .details .name a:hover, .post-panel .panel-heading .details .name a:visited {
  color: #fff;
  text-decoration: none;
}
.post-panel .panel-heading .details .date {
  font-size: smaller;
  color: #fff;
}
.post-panel .panel-heading .options {
  height: 50px;
  padding: 10px 0;
}
.post-panel .panel-heading .options .more {
  display: inline-block;
  text-align: right;
  width: 100%;
  font-size: 24px;
  margin-top: -20px;
  color: #fff;
}
.post-panel .panel-heading .options .more:hover, .post-panel .panel-heading .options .more:visited, .post-panel .panel-heading .options .more:focus {
  text-decoration: none;
}
.post-panel .panel-heading .options .dropdown-menu a > .fa {
  padding-right: 10px;
}
.post-panel .panel-body .video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.post-panel .panel-body .video-container .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.post-panel .panel-body img {
  width: 100%;
  padding: 10px 0;
}
.post-panel .panel-footer ul.stats {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.post-panel .panel-footer ul.stats li {
  display: inline;
  margin-right: 20px;
}
.post-panel .panel-footer ul.stats li .action {
  margin-right: 5px;
}
.post-panel .panel-footer ul.stats li .action:hover, .post-panel .panel-footer ul.stats li .action:visited, .post-panel .panel-footer ul.stats li .action:focus {
  text-decoration: none;
}
.post-panel .panel-footer ul.stats li .action.like > .fa + .fa {
  display: none;
}
.post-panel .panel-footer ul.stats li .action.like:hover > .fa {
  display: none;
}
.post-panel .panel-footer ul.stats li .action.like:hover > .fa + .fa {
  display: inherit;
}

.jumbotron.profile-header {
  padding: 0;
  margin-bottom: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jumbotron.profile-header .cover img {
  width: 100%;
  border-radius: 3px 3px 0 0;
}
.jumbotron.profile-header .profile-picture {
  display: inline;
  left: 0;
  bottom: 0;
}
.jumbotron.profile-header .profile-picture img {
  width: 200px;
  border: 3px solid #fff;
  border-radius: 100%;
  margin-top: -100px;
}
.jumbotron.profile-header .profile-details {
  display: inline-block;
  padding-left: 130px;
  padding-top: 5px;
}
.jumbotron.profile-header .profile-details h2 {
  display: inline;
  font-weight: 700;
  font-style: italic;
}
@media only screen and (min-width: 1px) and (max-width: 992px) {
  .jumbotron.profile-header .profile-picture {
    display: block;
    text-align: center;
  }
  .jumbotron.profile-header .profile-picture img {
    margin-top: -50px;
  }
  .jumbotron.profile-header .profile-details {
    display: block;
    text-align: center;
    padding-left: 0;
  }
}

.profile-menu {
  margin-bottom: 30px;
  margin-top: -1px;
}
.profile-menu button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.section-panel .panel-body .profile-gallery .thumbnail {
  border: none;
  margin-bottom: 0;
}

.section-panel .panel-body ul.post-excerpt {
  border: 1px solid #e1e1e1;
  padding: 10px;
  list-style-type: none;
}
.section-panel .panel-body ul.post-excerpt .profile-picture {
  width: 40px;
  float: left;
}
.section-panel .panel-body ul.post-excerpt ul.details {
  color: #999;
  list-style-type: none;
  padding-left: 10px;
  float: left;
  font-size: small;
}
.section-panel .panel-body ul.post-excerpt ul.details li {
  display: inline;
  padding-right: 10px;
}
.section-panel .panel-body ul.post-excerpt ul.details .name {
  display: block;
  font-weight: 700;
}
.section-panel .panel-body ul.post-excerpt .watch {
  float: right;
}
.section-panel .panel-body ul.post-excerpt .excerpt {
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

.section-panel .panel-body .event {
  border: 1px solid #c9c9c9;
  padding: 20px;
}
.section-panel .panel-body .event:not(:last-child) {
  margin-bottom: 20px;
}
.section-panel .panel-body .event ul.calendar {
  vertical-align: top;
  display: inline-block;
  border: 1px solid #c9c9c9;
  text-align: center;
  list-style-type: none;
  padding: 0;
  width: 150px;
  font-size: 18px;
}
.section-panel .panel-body .event ul.calendar .date {
  padding-bottom: 15px;
  color: #999;
}
.section-panel .panel-body .event ul.calendar .date .weekday {
  text-transform: capitalize;
  padding: 10px 0;
  height: 25px;
}
.section-panel .panel-body .event ul.calendar .date .day {
  text-transform: capitalize;
  display: block;
  font-weight: 700;
  font-size: 36px;
}
.section-panel .panel-body .event ul.actions {
  vertical-align: top;
  margin-top: 25px;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin-left: -5px;
}
.section-panel .panel-body .event ul.actions li {
  display: block;
  border: 1px solid #c9c9c9;
  margin-bottom: 5px;
}
.section-panel .panel-body .event ul.actions li a {
  padding: 2px 10px;
  display: block;
}
.section-panel .panel-body .event ul.actions li a:hover {
  background-color: #337ab7;
  color: #fff;
}
.section-panel .panel-body .event .description {
  color: #999;
  display: inline-block;
  margin-left: 50px;
  margin-top: -5px;
}
.section-panel .panel-body .event .description h2 {
  margin-top: 0;
}
.section-panel .panel-body .event .description ul.details {
  padding: 0;
  list-style-type: none;
}
.section-panel .panel-body .event .description ul.details li > i.fa {
  width: 25px;
  text-align: center;
}

/*# sourceMappingURL=theme.css.map */
