{{ form_start(form, {'attr':
    {
        'class': 'form-horizontal',
        'novalidate': 'novalidate',
        'autocomplete': 'off',
        'action': action_url
    }
}) }}
<div class="form-group">
    {{ form_label(form.localityName, '', {'label_attr': {'class': 'control-label col-sm-2'}}) }}
    <div class="col-sm-10">
        {{ form_widget(form.localityName, {
            'attr': {'class': 'form-control suggest-box locality'}
        })}}
        {{ form_widget(form.locality)}}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
        <button type="button" class="btn btn-default success submit-form"><i class="fa fa-fw fa-check"></i> {{ 'save'|trans }}</button>
        <button type="button" class="btn btn-default hide-form"><i class="fa fa-fw fa-times"></i> {{ 'cancel'|trans }}</button>
    </div>
</div>
{{ form_end(form) }}
<script>
    $(document).ready(function(){
        $('input.suggest-box.locality').suggest({
            onSelect: function(suggestion) {
                $('#{{ form.locality.vars.id }}').val(suggestion.uid);
            },
            onClear: function() {
                $('#{{ form.locality.vars.id }}').val('');
            },
            hasSelection: function() {
                return $('#{{ form.locality.vars.id }}').val().length > 0;
            },
            onSearch: function(keyword, suggestBox) {
                $.ajax({
                    url: "{{ path('locality/search') }}",
                    method: 'POST',
                    data: {
                        keyword: keyword
                    }
                }).done(function(response){
                    var suggestions = [];
                    for (var i = 0; i<response.length; i++) {
                        var entry = response[i];
                        suggestions.push(new Suggestion(entry.id, entry.name, ''));
                    }
                    suggestBox.updateList(suggestions);
                });

            }
        });
    });
</script>

