<ul class="listing">
    {% if current_town is null %}
        <li class="item">
            <a href="{{ path('locality/town/edit') }}" class="load-form">[+] {{ 'pages.locality_list.add_city'|trans }}</a>
            <span class="form hide"></span>
        </li>
    {% else %}
        <li class="item">
            <span class="title">
                    {{ current_town.locality.getFullName() }}
                <a href="#" class="delete pull-right" title="{{ 'delete'|trans }}">
                    <i class="fa fa-times"></i>
                </a>
                <a href="{{ path('locality/town/edit', {id: current_town.id}) }}" class="load-form pull-right" title="{{ 'edit'|trans }}">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
            <span class="details">{{ 'pages.locality_list.type_town'|trans }}</span>
            <span class="form hide"></span>
            <div class="delete-confirmation hide">
                <div class="alert alert-danger" role="alert">
                    <p>{{ 'pages.locality_list.remove_town_confirmation'|trans }}</p>
                    <div class="controls">
                        <a href="{{ path('locality/town/delete') }}" class="btn btn-danger confirm"><i class="fa fa-fw fa-trash-o"></i> {{ 'delete'|trans }}</a>
                        <a href="#" class="btn btn-default cancel"><i class="fa fa-fw fa-times"></i> {{ 'cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </li>
    {% endif %}
    <hr>

    {% if hometown is null %}
        <li class="item">
            <a href="{{ path('locality/hometown/edit') }}" class="load-form">[+] {{ 'pages.locality_list.add_hometown'|trans }}</a>
            <span class="form hide"></span>
        </li>
    {% else %}
        <li class="item">
            <span class="title">
                    {{ hometown.locality.getFullName() }}
                <a href="#" class="delete pull-right" title="{{ 'delete'|trans }}">
                    <i class="fa fa-times"></i>
                </a>
                <a href="{{ path('locality/hometown/edit', {id: hometown.id}) }}" class="load-form pull-right" title="{{ 'edit'|trans }}">
                    <i class="fa fa-pencil"></i>
                </a>
            </span>
            <span class="details">{{ 'pages.locality_list.type_hometown'|trans }}</span>
            <span class="form hide"></span>
            <div class="delete-confirmation hide">
                <div class="alert alert-danger" role="alert">
                    <p>{{ 'pages.locality_list.remove_homeown_confirmation'|trans }}</p>
                    <div class="controls">
                        <a href="{{ path('locality/hometown/delete') }}" class="btn btn-danger confirm"><i class="fa fa-fw fa-trash-o"></i> {{ 'delete'|trans }}</a>
                        <a href="#" class="btn btn-default cancel"><i class="fa fa-fw fa-times"></i> {{ 'cancel'|trans }}</a>
                    </div>
                </div>
            </div>
        </li>
    {% endif %}
    <hr>
</ul>
<script>
    $(document).ready(function(){
        var locality = {
            edit: $('.listing a.load-form'),
            confirmEdit: 'button.submit-form',
            exit: 'button.hide-form',
            remove: $('.listing a.delete'),
            removeConfirmation: '.delete-confirmation',
            confirmRemove: $('.listing .delete-confirmation .confirm'),
            cancelRemove: $('.listing .delete-confirmation .cancel')
        };

        locality.edit.off('click').on('click', function(ev){
            var $this = $(this);
            $.ajax({
                url: $(this).attr('href'),
                type: "GET",
                success: function (result) {
                    var li = $this.closest('li');
                    li.children().addClass('hide');
                    li.find('.form').html(result.form).removeClass('hide');
                }
            });
            return false;
        });

        locality.remove.off('click').on('click', function(ev){
            var li = $(this).closest('li.item');
            li.addClass('bg-warning');
            li.find(locality.removeConfirmation).removeClass('hide');

            return false;
        });

        locality.confirmRemove.off('click').on('click', function(event){
            $.ajax({
                url: $(this).attr('href'),
                type: "POST",
                success: function (result) {
                    if (result.success) {
                        $.event.trigger(LocalityDeletedEvent.build());
                    } else {
                        //@todo - display errors
                    }
                }
            });

            return false;
        });

        locality.cancelRemove.off('click').on('click', function(event){
            var li = $(this).closest('li.item');
            li.removeClass('bg-warning');
            li.find(locality.removeConfirmation).addClass('hide');

            return false;
        });

        $(document).off('click', locality.exit).on('click', locality.exit, function(ev){
            var li = $(this).closest('li.item');
            li.children(':not('+locality.removeConfirmation+')').removeClass('hide');
            li.find('span.form').empty().addClass('hide');
            return false;
        });

        $(document).off('click', locality.confirmEdit).on('click', locality.confirmEdit, function(ev){
            var li = $(this).closest('li.item');
            li.children(':not('+locality.removeConfirmation+')').removeClass('hide');
            li.find('span.form').empty().addClass('hide');

            var form = $(this).closest('form');

            $.ajax({
                url: form.attr('action'),
                type: "POST",
                data: form.serialize(),
                success: function (result) {
                    if (result.success) {
                        $.event.trigger(LocalitySavedEvent.build());
                    } else {
                        //@todo - display errors
                    }
                }
            });

            return false;
        });
    });
</script>
