@import "../../theme/base";
@import "../../theme/panel/base";
@import "../../theme/panel/section";
@import "../../component/comment-summary";

#add-comment {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: $font-big;
  padding: 20px;
  line-height: 0;
  border-radius: 100%;
}