{% extends "theme_base.html.twig" %}

{% block headjavascripts %}
    {{ parent() }}
    <script src='https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}' async defer></script>
    <script>
        function onSubmit(token) {
            document.getElementById("login-form").submit();
        }
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/pages/homepage/index.css") }}">
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/babel" src="{{ asset('js/react/SecondaryPage.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/Register.jsx') }}"></script>
    <script type="text/babel">
        let registerForm = React.createElement(Register, {}, null);
        ReactDOM.render(<SecondaryPage content={registerForm}/>, document.getElementById('root'));
    </script>
{% endblock %}

