<div class="col-md-4">
    <div class="car-item">
        <div class="avatar">
            {#{{ dump(car) }}#}
            {% for media in car.media  %}
                <a href="{{ asset("images/upload/#{media}") }}" class="photo_album_trigger {% if loop.index > 1 %} hide {% endif %}" data-group="{{ car.hash }}">
                    <img class="img" style="background-image: url({{ asset("images/upload/#{media}") }}"/>
                </a>
            {% endfor %}
        </div>
        <div class="social-stats">
            <div class="like_counter_wrapper {% if car.likes == 0 %}hide{% endif %}">
                <a class="social-stats-trigger" href="#" data-modal-title="{{ car.likes }} likes"
                   data-hash="{{ path('nodes/likes', {'hash': car.hash}) }}">
                    <span class="listener_like_toggle" data-hash="{{ car.hash }}">{{ car.likes }}</span>
                    likes
                </a>
            </div>
            <div class="comment_counter_wrapper {% if car.comments == 0 %}hide{% endif %}">
                <a class="social-stats-trigger" href="#" data-modal-title="{{ car.comments }} comments"
                   data-hash="{{ path('comments', {'hash': car.hash}) }}">
                    <span class="listener_comment_add" data-hash="{{ car.hash }}">{{ car.comments }}</span> comments
                </a>
            </div>
        </div>
        <div class="info">
            <p class="title">
                {{ car.brand|capitalize }} {{ car.model|capitalize }}
            </p>
            <ul class="options">
                <li><a href="{{ path('car/save', {'hash': car.hash}) }}" class="save-car-trigger">edit</a></li>
                <li><a href="{{ path('car/delete', {'hash': car.hash}) }}" class="delete-car-trigger">delete</a></li>
            </ul>
            <div class="data">
                {{ cc_to_liters(car.cc) }} {{ car.fuel|capitalize }} | {{ car.year }}
                <ul class="details">
                    {% if car.year is not null %}
                        <li>
                            <ul>
                                <li>Year</li>
                                <li>{{ car.year }}</li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if car.fuel is not null %}
                        <li>
                            <ul>
                                <li>Fuel</li>
                                <li>{{ car.fuel|capitalize }}</li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if car.cc is not null %}
                        <li>
                            <ul>
                                <li>CC</li>
                                <li>{{ car.cc }}</li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if car.hp is not null %}
                        <li>
                            <ul>
                                <li>Horsepower</li>
                                <li>{{ car.hp }}</li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if car.transmission is not null %}
                        <li>
                            <ul>
                                <li>Transmission</li>
                                <li>{{ car.transmission|capitalize }}</li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if car.body is not null %}
                        <li>
                            <ul>
                                <li>Body</li>
                                <li>{{ car.body|capitalize }}</li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if car.mileage is not null %}
                        <li>
                            <ul>
                                <li>Mileage</li>
                                <li>{{ car.mileage }}</li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if car.vin is not null %}
                        <li>
                            <ul>
                                <li>VIN</li>
                                <li>{{ car.vin|upper }}</li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="social-actions">
            <a class="like" href="#" data-hash="{{ car.hash }}" data-like="{{ path('profile/like', {'hash': car.hash}) }}"
               data-unlike="{{ path('profile/unlike', {'hash': car.hash}) }}" data-isliked="{{ car.liked }}">
                <i class="fa {% if car.liked %} fa-thumbs-up {% else %} fa-thumbs-o-up {% endif %}"></i>
                like
            </a>
            <a class="social-stats-trigger" href="#" data-modal-title="{{ car.comments }} comments"
               data-hash="{{ path('comments', {'hash': car.hash}) }}">
                <i class="fa fa-comment-o"></i>
                comment
            </a>
        </div>
    </div>
</div>