<div class="comments-list-view">
    {% for entry in comments %}
        {% set profile = entry.poster %}
        <div class="comment-view" id="comment-{{ entry.hash }}">
            <ul>
                <li class="avatar">
                    <a href="{{ path('profile', {'id': profile.hash}) }}">
                        {% if profile.avatar is null %}
                            <img class="profile-picture" src="{{ asset("images/default_avatar_photo.png") }}">
                        {% else %}
                            <img class="profile-picture" src="{{ asset("images/upload/#{profile.avatar}") }}">
                        {% endif %}
                    </a>
                </li>
                <li class="details">
                    <ul>
                        <li>
                            <a href="{{ path('profile', {'id': profile.hash}) }}">{{ profile.firstName }} {{ profile.lastName }}</a>
                            <span>{{ entry.text }}</span>
                        </li>
                    </ul>
                </li>
                <li class="extra">
                    <ul>
                        <li>
                            <a class="like" href="#"
                               data-hash="{{ entry.hash }}"
                               data-like="{{ path('profile/like', {'hash': entry.hash}) }}"
                               data-unlike="{{ path('profile/unlike', {'hash': entry.hash}) }}"
                               data-isliked="{{ entry.liked }}">
                                <i class="fa {% if entry.liked %} fa-thumbs-up {% else %} fa-thumbs-o-up {% endif %}"></i>
                                Like
                            </a>
                        </li>
                        <li><a href="#" class="comment-reply-trigger" data-modal-title="reply to {{ profile.firstName }}" data-reply-to="{{ entry.hash }}"><i class="fa fa-comment-o"></i> Reply</a></li>
                        <li>{{ time_elapsed(entry.timestamp) }}</li>
                        <li class="like_counter_wrapper {% if entry.likes == 0 %}hide{% endif %}">
                            <a class="list-comment-likes-trigger" href="#"
                               data-hash="{{ path('nodes/likes', {'hash': entry.hash}) }}">
                                <span class="listener_like_toggle" data-hash="{{ entry.hash }}">{{ entry.likes }}</span> likes
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% if entry.replies is not empty %}
                {% for reply in entry.replies %}
                    <div class="comment-view reply" id="reply-{{ reply.poster.hash }}">
                        <ul>
                            <li class="avatar">
                                <a href="{{ path('profile', {'id': reply.poster.hash}) }}">
                                    {% if reply.poster.avatar is null %}
                                        <img class="profile-picture"
                                             src="{{ asset("images/default_avatar_photo.png") }}">
                                    {% else %}
                                        <img class="profile-picture"
                                             src="{{ asset("images/upload/#{reply.poster.avatar}") }}">
                                    {% endif %}
                                </a>
                            </li>
                            <li class="details">
                                <ul>
                                    <li>
                                        <a href="{{ path('profile', {'id': reply.poster.hash}) }}">{{ reply.poster.firstName }} {{ reply.poster.lastName }}</a>
                                        <span>{{ reply.text }}</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="extra">
                                <ul>
                                    <li>
                                        <a class="like" href="#"
                                           data-hash="{{ reply.hash }}"
                                           data-like="{{ path('profile/like', {'hash': reply.hash}) }}"
                                           data-unlike="{{ path('profile/unlike', {'hash': reply.hash}) }}"
                                           data-isliked="{{ reply.liked }}">
                                            <i class="fa {% if reply.liked %} fa-thumbs-up {% else %} fa-thumbs-o-up {% endif %}"></i>
                                            Like
                                        </a>
                                    </li>
                                    <li>{{ time_elapsed(reply.timestamp) }}</li>
                                    <li class="like_counter_wrapper {% if reply.likes == 0 %}hide{% endif %}">
                                        <a class="list-comment-likes-trigger" href="#" data-hash="{{ path('nodes/likes', {'hash': reply.hash}) }}">
                                            <span class="listener_like_toggle" data-hash="{{ reply.hash }}">{{ reply.likes }}</span>
                                            likes
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>
<div class="comment-reply-section hide">
    <a class="social-stats-trigger back" href="#" data-hash="{{ path('comments', {'hash': nodeHash}) }}">
        <i class="fa fa-chevron-left"></i> back to comments
    </a>
    <div class="original-comment"></div>
</div>
<div class="comment-likes-section hide">
    <a class="social-stats-trigger back" href="#" data-hash="{{ path('comments', {'hash': nodeHash}) }}">
        <i class="fa fa-chevron-left"></i> back to comments
    </a>
    <div class="list"></div>
</div>

<div class="post-comment-section">
    <div class="input-group">
        <input type="text" class="form-control comment-input">
        <span class="input-group-btn">
        <button class="btn btn-default comment-post" type="button"
                data-comment-url="{{ path('comments/add', {'hash': nodeHash}) }}" data-reply-to=""
                data-hash="{{ path('comments', {'hash': nodeHash}) }}" data-id="{{ nodeHash }}"><i class="fa fa-paper-plane-o"></i></button>
      </span>
    </div><!-- /input-group -->
</div>
