{% if media is empty %}
    <div>No media found</div>
{% else %}
    <div class="photo-gallery">
        <img class="cover" width="100%" src="{{ asset("images/upload/#{media|first}") }}"/>
        <div class="album owl-carousel">
        {% for hash, entry in media %}
            <a href="#" class="item" data-hash="{{ hash }}">
                <img class="photo" src="{{ asset("images/upload/#{entry}") }}"/>
            </a>
        {% endfor %}
        </div>
    </div>
{% endif %}