//@todo - remove this and it's usages. Replace with react component

<div class="minimal-profile-view" id="{{ profile.hash }}">
    <ul>
        <li class="avatar">
            <a href="{{ path('profile', {'id': profile.hash}) }}">
                {% if profile.avatar is null %}
                    <img class="profile-picture" src="{{ asset("images/default_avatar_photo.png") }}">
                {% else %}
                    <img class="profile-picture" src="{{ asset("images/upload/#{profile.avatar}") }}">
                {% endif %}
            </a>
        </li>
        <li class="details">
            <ul>
                <li>
                    <a href="{{ path('profile', {'id': profile.hash}) }}">{{ profile.firstName }} {{ profile.lastName }}</a>
                </li>
                {% if profile.locality is not null %}
                    <li>
                        {{ profile.locality }}
                    </li>
                {% endif %}
                {% if app.user.profileId != profile.hash %}
                    <li>
                        <a href="{{ path('profile/block', {'hash': profile.hash}) }}" class="_action-block">
                            <i class="fa fa-ban"></i> block
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    </ul>
</div>
<hr>