<div class="minimal-club-view" data-hash="{{ club.hash }}">
    <p>
        {{ club.name }}
        {% if club.memberCount > 0 %}
            <span class="badge">{{ club.memberCount }} joined</span>
        {% endif %}
    </p>
</div>
