<div class="row" data-id="{{ post.hash }}">
    <div class="col-sm-6">
        <div class="post">
            <ul class="header">
                <li class="avatar">
                    <img src='{{ asset("images/upload/#{post.poster.avatar}") }}' alt="">
                </li>
                <li class="details">
                    <span class="name">
                        <a href="{{ path('profile', {id: post.poster.hash}) }}">
                            {{ post.poster.firstName }} {{ post.poster.lastName }}
                        </a>
                    </span>
                    <span class="timestamp">{{ time_elapsed(post.timestamp) }} ago</span>
                </li>
                <li>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="{{ post.hash }}_options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ...
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="{{ post.hash }}_options">
                            <li>
                                <a href="{{ path('post/edit', {'hash': post.hash}) }}" class="_action-create-post"
                                   data-modal-title="{{ 'navbar.post.modal_title'|trans }}"
                                   data-modal-icon="fa fa-pencil">
                                    <i class="fa fa-pencil fa-fw"></i> {{ 'edit'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('post/delete', {'hash': post.hash}) }}" data-id="{{ post.hash }}" class="_action-delete-post">
                                    <i class="fa fa-trash fa-fw"></i> {{ 'delete'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="text">{{ post.text }}</div>
            <div class="media">
                {% if post.media|length == 1 %}
                    {% include 'view-models/fragment/post-galery-grid-1.html.twig' with {media: post.media|first, hash: post.hash} %}
                {% elseif post.media|length == 2 %}
                    {% include 'view-models/fragment/post-galery-grid-2.html.twig' with {gallery: post.media, hash: post.hash} %}
                {% elseif post.media|length == 3 %}
                    {% include 'view-models/fragment/post-galery-grid-3.html.twig' with {gallery: post.media, hash: post.hash} %}
                {% elseif post.media|length > 3 %}
                    {% include 'view-models/fragment/post-galery-grid-more-than-3.html.twig' with {gallery: post.media, hash: post.hash} %}
                {% endif %}
            </div>
            <div class="social-stats">
                <ul>
                    <li class="like_counter_wrapper {% if post.likes == 0 %}hide{% endif %}">
                        <a class="social-stats-trigger" href="#" data-modal-title="Likes"
                           data-hash="{{ path('nodes/likes', {'hash': post.hash}) }}">
                            <span class="listener_like_toggle" data-hash="{{ post.hash }}">{{ post.likes }}</span>
                            likes
                        </a>
                    </li>
                    <li class="comment_counter_wrapper {% if post.comments == 0 %}hide{% endif %}">
                        <a class="social-stats-trigger" href="#" data-modal-title="Comments"
                           data-hash="{{ path('comments', {'hash': post.hash}) }}">
                            <span class="listener_comment_add" data-hash="{{ post.hash }}">{{ post.comments }}</span>
                            comments
                        </a>
                    </li>
                </ul>
            </div>
            <div class="social-actions">
                <a class="like" href="#" data-hash="{{ post.hash }}" data-like="{{ path('profile/like', {hash: post.hash}) }}" data-unlike="{{ path('profile/unlike', {hash: post.hash}) }}" data-isliked="{{ post.liked }}">
                    <i class="fa {% if post.liked %} fa-thumbs-up {% else %} fa-thumbs-o-up {% endif %} "></i>
                    like
                </a>
                <a class="social-stats-trigger" href="#" data-modal-title="0 comments" data-hash="{{ path('comments', {hash: post.hash}) }}">
                    <i class="fa fa-comment-o"></i>
                    comment
                </a>
            </div>
        </div>
    </div>
</div>