<div class="col-md-12">
    {% if is_profile_owner %}
        <a href="{{ path('car/save') }}" class="btn btn-success save-car-trigger">
            <i class="fa fa-plus"></i> add a new car to your garage
        </a>
    {% endif %}
    {% for car in cars %}
        {% if loop.index0 % 3 == 0 %}
            {% if loop.index0 > 0 %}
                </div>
            {% endif %}
            <div class="row">
        {% endif %}
        {% include 'view-models/car-view.html.twig' with {'car': car} %}
    {% endfor %}
</div>