<div class="row">
        <div class="col-md-12">
            {% for post in posts %}
                {% include 'view-models/post-view.html.twig' with {'post': post} %}
            {% endfor %}
        </div>
</div>
