<div class="modal fade" id="profile-photo-update-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title" id="myModalLabel">{{ 'pages.profile.update_profile_picture'|trans }}</span>
            </div>
            <div class="modal-body">
                <div class="profile-photo-crop-container">
                    {% if avatar is null %}
                        <img id="profile-photo-crop" src="{{ asset("images/default_avatar_photo.png") }}">
                    {% else %}
                        <img id="profile-photo-crop" src="{{ asset("images/upload/#{avatar}") }}">
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <input type="file" name="profile-photo-input" id="profile-photo-input" class="hide" accept="image/*">
                <label for="profile-photo-input" class="btn btn-default info"><i class="fa fa-camera fa-fw" aria-hidden="true"></i> {{ 'pages.profile.change_photo'|trans }}</label>
                <button class="btn btn-default success" id="save-profile-photo" type="button"><i class="fa fa-check fa-fw" aria-hidden="true"></i> {{ 'save'|trans }}</button>
                <button class="btn btn-default" id="cancel-profile-photo-changes" type="button"><i class="fa fa-times fa-fw" aria-hidden="true"></i> {{ 'cancel'|trans }}</button>
            </div>
        </div>
    </div>
</div>