<div class="modal fade" id="profile-details-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="modal-title" id="profile-details-modal-title">{{ 'pages.profile.update_details'|trans }}</span>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn btn-default info back hide" type="button"><i class="fa fa-fw fa-chevron-left"></i> {{ 'back'|trans }}</button>
                <button class="btn btn-default success save" type="button"><i class="fa fa-fw fa-check"></i> {{ 'save'|trans }}</button>
                <button class="btn btn-default" data-dismiss="modal" type="button"><i class="fa fa-fw fa-times"></i> {{ 'cancel'|trans }}</button>
            </div>
        </div>
    </div>
</div>