<div class="alert alert-success hide" role="alert">
    <strong>{{ 'car_type.message.success.title'|trans({}, 'forms') }}</strong>
    {{ 'car_type.message.success.string'|trans({}, 'forms') }}
</div>
<div class="alert alert-error hide" role="alert">
    <strong>{{ 'car_type.message.error.title'|trans({}, 'forms') }}</strong>
    {{ 'car_type.message.error.string'|trans({}, 'forms') }}
</div>
<div class="row">
    <div class="col-sm-12">
        {% set action = path('post/create') %}
        {% if form.hash.vars.value is not empty %}
            {% set action = path('post/edit', {hash: form.hash.vars.value}) %}
        {% endif %}
        {{ form_start(form, {attr: {'style': 'padding: 10px', action: action}}) }}
        {{ form_widget(form.hash) }}
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group {% if form.text.vars.errors|length %}has-error{% endif %}">
                    {{ form_widget(form.text, {
                        'attr': {'class': 'form-control', 'autocomplete': 'off'}
                    }) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_label(form.media) }}
            </div>
                <span class="help-block">{{ form_errors(form.media) }}</span>
            <div class="col-sm-12">
                <div class="thumbnail-upload-wrapper">
                    <div class="upload-input">
                        {{ form_widget(form.media) }}
                    </div>
                    <ul class="file-list">
                        {% if form.media.vars.data is not empty %}
                            {% for hash, media in form.media.vars.data %}
                                <li>
                                    <a href="" class="delete-post-photo-trigger">
                                        <img style='background-image: url({{ asset("images/upload/#{media}") }})' alt="">
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success btn-block', 'formnovalidate': true}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('.thumbnail-upload-wrapper').multiImageUploader();
    });
</script>
