<div class="alert alert-success hide" role="alert">
    <strong>{{ 'car_type.message.success.title'|trans({}, 'forms') }}</strong>
    {{ 'car_type.message.success.string'|trans({}, 'forms') }}
</div>
<div class="alert alert-error hide" role="alert">
    <strong>{{ 'car_type.message.error.title'|trans({}, 'forms') }}</strong>
    {{ 'car_type.message.error.string'|trans({}, 'forms') }}
</div>
<div class="row">
    <div class="col-sm-12">
        {{ form_start(form, {attr: {'style': 'padding: 10px', action: path('car/save')}}) }}
        {{ form_widget(form.hash) }}
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group {% if form.brand.vars.errors|length %}has-error{% endif %}">
                    {{ form_label(form.brand) }}
                    {{ form_widget(form.brand, {
                        'attr': {'class': 'form-control suggest-box car-brand', 'autocomplete': 'off'}
                    }) }}
                    {% if form.brand.vars.errors|length %}
                        <span class="help-block">{{ form_errors(form.brand) }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group {% if form.model.vars.errors|length %}has-error{% endif %}">
                    {{ form_label(form.model) }}
                    {{ form_widget(form.model, {
                        'attr': {'class': 'form-control suggest-box car-model', 'autocomplete': 'off'}
                    }) }}
                    {% if form.model.vars.errors|length %}
                        <span class="help-block">{{ form_errors(form.model) }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group {% if form.body.vars.errors|length %}has-error{% endif %}">
                    {{ form_label(form.body) }}
                    {{ form_widget(form.body, {
                        'attr': {'class': 'form-control', 'autocomplete': 'off'}
                    }) }}
                    {% if form.body.vars.errors|length %}
                        <span class="help-block">{{ form_errors(form.body) }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group {% if form.year.vars.errors|length %}has-error{% endif %}">
                    {{ form_label(form.year) }}
                    {{ form_widget(form.year, {
                        'attr': {'class': 'form-control', 'autocomplete': 'off'}
                    }) }}
                    {% if form.year.vars.errors|length %}
                        <span class="help-block">{{ form_errors(form.year) }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group {% if form.fuel.vars.errors|length %}has-error{% endif %}">
                    {{ form_label(form.fuel) }}
                    {{ form_widget(form.fuel, {
                        'attr': {'class': 'form-control', 'autocomplete': 'off'}
                    }) }}
                    {% if form.fuel.vars.errors|length %}
                        <span class="help-block">{{ form_errors(form.fuel) }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group {% if form.engineCapacity.vars.errors|length %}has-error{% endif %}">
                    {{ form_label(form.engineCapacity) }}
                    {{ form_widget(form.engineCapacity, {
                        'attr': {'class': 'form-control', 'autocomplete': 'off'}
                    }) }}
                    {% if form.engineCapacity.vars.errors|length %}
                        <span class="help-block">{{ form_errors(form.engineCapacity) }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group {% if form.horsepower.vars.errors|length %}has-error{% endif %}">
                    {{ form_label(form.horsepower) }}
                    {{ form_widget(form.horsepower, {
                        'attr': {'class': 'form-control', 'autocomplete': 'off'}
                    }) }}
                    {% if form.horsepower.vars.errors|length %}
                        <span class="help-block">{{ form_errors(form.horsepower) }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group {% if form.mileage.vars.errors|length %}has-error{% endif %}">
                    {{ form_label(form.mileage) }}
                    {{ form_widget(form.mileage, {
                        'attr': {'class': 'form-control', 'autocomplete': 'off'}
                    }) }}
                    {% if form.mileage.vars.errors|length %}
                        <span class="help-block">{{ form_errors(form.mileage) }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group {% if form.transmission.vars.errors|length %}has-error{% endif %}">
                    {{ form_label(form.transmission) }}
                    {{ form_widget(form.transmission, {
                        'attr': {'class': 'form-control', 'autocomplete': 'off'}
                    }) }}
                    {% if form.transmission.vars.errors|length %}
                        <span class="help-block">{{ form_errors(form.transmission) }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group {% if form.vin.vars.errors|length %}has-error{% endif %}">
                    {{ form_label(form.vin) }}
                    {{ form_widget(form.vin, {
                        'attr': {'class': 'form-control', 'autocomplete': 'off'}
                    }) }}
                    {% if form.vin.vars.errors|length %}
                        <span class="help-block">{{ form_errors(form.vin) }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_label(form.media) }}
            </div>
                <span class="help-block">{{ form_errors(form.media) }}</span>
            <div class="col-sm-12">
                <div class="thumbnail-upload-wrapper">
                    <div class="upload-input">
                        {{ form_widget(form.media) }}
                    </div>
                    <ul class="file-list">
                        {% if form.media.vars.data is not empty %}
                            {% for hash, media in form.media.vars.data %}
                                <li>
                                    <a href="{{ path('images/delete', {nodeHash: form.hash.vars.value, mediaHash: hash}) }}" class="delete-car-photo-trigger">
                                        <img style='background-image: url({{ asset("images/upload/#{media}") }})' alt="">
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success btn-block', 'formnovalidate': true}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('input.suggest-box.car-brand').suggest({
            onSelect: function(suggestion) {
                $('#{{ form.brand.vars.id }}').val(suggestion.uid);
            },
            onClear: function() {
                $('#{{ form.brand.vars.id }}').val('');
            },
            hasSelection: function() {
                return $('#{{ form.brand.vars.id }}').val().length > 0;
            },
            onSearch: function(keyword, suggestBox) {
                $.ajax({
                    url: "{{ path('car/brand/search') }}",
                    method: 'GET',
                    data: {
                        q: keyword
                    }
                }).done(function(response){
                    var suggestions = [];
                    for (var i = 0; i<response.length; i++) {
                        var entry = response[i];
                        suggestions.push(new Suggestion(entry.id, entry.name, ''));
                    }
                    suggestBox.updateList(suggestions);
                });
            }
        });

        $('input.suggest-box.car-model').suggest({
            onSelect: function(suggestion) {
                $('#{{ form.model.vars.id }}').val(suggestion.uid);
            },
            onClear: function() {
                $('#{{ form.model.vars.id }}').val('');
            },
            hasSelection: function() {
                return $('#{{ form.model.vars.id }}').val().length > 0;
            },
            onSearch: function(keyword, suggestBox) {
                var brand = $('#{{ form.brand.vars.id }}').val();

                $.ajax({
                    url: "{{ path('car/brand/model/search') }}",
                    method: 'GET',
                    data: {
                        q: keyword,
                        brand: brand
                    }
                }).done(function(response){
                    var suggestions = [];
                    for (var i = 0; i<response.length; i++) {
                        var entry = response[i];
                        suggestions.push(new Suggestion(entry.id, entry.name, ''));
                    }
                    suggestBox.updateList(suggestions);
                });
            }
        });

        $('.thumbnail-upload-wrapper').multiImageUploader();
    });
</script>
