@import "vars";
@import "buttons";
@import "../component/navbar";
@import "../component/posting";
@import "../component/secondary-page";
@import "../component/confirm-box";
@import "../component/info-box";
@import "../component/menu-box";
@import "../component/form-box";
@import "../component/app-modal";
@import "../component/thumbnail-list";
@import "../component/media-gallery";

body {
  a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: inherit;
  }

  textarea {
    resize: none;
  }

  label.custom-radio {
    position: relative;
    width: 100%;
    padding-left: 20px;
    span.lbl:before {
      content: '\f1db';
      font-family: FontAwesome;
      position: absolute;
      left: 0;
      top: 0;
      color: $color-main;
      font-size: $font-big;
      line-height: 1.3;
    }
    input[type=radio] {
      position: absolute;
      opacity: 0;
      &:checked ~ .lbl:before {
        content: '\f058';
      }
    }
  }

  .flex {
    display: flex;
    &.row {
      flex-flow: row;
    }
    &.space-around {
      justify-content: space-around;
    }
    &.space-between {
      justify-content: space-between;
    }
    &.center {
      justify-content: center;
    }
  }

  .nopadding {
    padding: 0 !important;
  }

  background-color: #fff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: $font-normal;
  line-height: 1.5;
  padding-bottom: $navbar-height;

  .navbar {
    .navbar-profile-picture {
      padding-top: 10px;
      padding-bottom: 0;
      > img {
        width: 30px;
      }
    }
  }

  article.posting{
    &.pagination {
      padding: 0;
      margin: 0;
      display: block;
      border-radius: 0;
      nav {
        display: flex;
        justify-content: space-around;
        text-align: center;
        a {
          flex: 1;
          padding: 10px;
          &.page {
            flex: 2;
          }
          &.disabled {
            color: $color-light-gray;
          }
        }
      }
    }
    &.loader {
      color: $color-light-gray;
      text-align: center;
    }
  }

  .noresults {
    color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px;
    font-style: italic;
  }

  .minimal-profile-view {
    margin: 10px;
    ul {
      padding: 0;
      list-style-type: none;
      display: table-row;
      li.avatar {
        display: table-cell;
        img.profile-picture {
          width: 40px;
          border-radius: 40px;
        }
      }
      li.details {
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
      }
    }
  }

  .croppie-container.ready {
    height: 320px;
  }

//modal social stats
  .comments-list-view {
    max-height: 350px;
    overflow: scroll;
  }

  .comment-view {
    font-size: $font-small;
    &.reply {
      margin-left: 40px;
    }
    padding: 10px;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      position: relative;
      li {
        display: inline-block;
        vertical-align: middle;
        img {
          width: 40px;
          border-radius: 40px;
        }
        &.details {
          vertical-align: middle;
          padding: 10px;
          background: $color-light-gray;
          margin-left: 10px;
          display: inline-block;
          border-radius: 55px;
          li.likes {
            position: absolute;
            right: 0;
            background: #efefef;
            border-radius: 10px;
            padding: 1px 10px;
            border: 1px solid #BFBFBF;
            bottom: -28px;
          }
        }
        &.extra {
          display: block;
          margin-left: 60px;
          li {
            padding: 5px;
          }
        }
      }
    }
  }

  .post-comment-section {
    padding: 10px;
    border-top: 1px solid $color-border;
  }

  .iziModal a.social-stats-trigger.back {
    padding: 10px;
    display: inline-block;
    border-bottom: 1px solid $color-border;
    width: 100%;
  }

//end modal social stats

  .car-view-panel {
    .panel-heading {
      .social-stats {
        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          li {
            display: inline-block;
            padding: 10px;
            a {
              text-decoration: none;
              color: $color-info;
            }
          }
        }
      }
    }
  }
}

input.follow-toggle{
  height: 0;
  width: 0;
  visibility: hidden;

  + label {
    display: inline-block;
    cursor: pointer;
    width: 50px;
    height: 30px;
    background: grey;
    border-radius: 30px;
    position: relative;
  }

  + label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    transition: 0.3s;
  }

  &:checked + label {
    background: #bada55;
  }

  &:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  + label:active:after {
    width: 30px;
  }
}

form {
  label {
    position: relative;
    &.required::after {
      content: '*';
      color: red;
      padding-left: 5px;
    }
  }
}

.photo-gallery {
  .album img {
    border: 2px solid #fff;
  }
}

.image-uploader {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  vertical-align: middle;
  padding: 20px;
  i {
    margin-right: 10px;
  }
  input[type=file] {
    cursor: pointer;
    font-size: 100px;
    position: absolute;
    left: -550px;
    top: 0px;
    opacity: 0;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}