.btn {
 border-radius: 3px;
}

.btn.btn-default.success {
  background-color: #fff;
  border-color: $color-success-border;
  color: $color-success;
  &:hover{
    color: #fff;
    background-color: $color-bg-success;
  }
}

.btn.btn-default.info {
  background-color: #fff;
  border-color: $color-info-border;
  color: $color-info;
  &:hover{
    color: #fff;
    background-color: $color-bg-info;
  }
}

.btn.btn-default.warning {
  background-color: #fff;
  border-color: $color-warning-border;
  color: $color-warning;
  &:hover{
    color: #fff;
    background-color: $color-bg-warning;
  }
}

.btn.btn-default.danger {
  background-color: #fff;
  border-color: $color-danger-border;
  color: $color-danger;
  &:hover{
    color: #fff;
    background-color: $color-bg-danger;
  }
}

.btn.btn-default.black {
  background-color: #333;
  color: #fff;
  &:hover{
    color: #fff;
    background-color: #333;
  }
}