.jumbotron.profile-header {
  padding: 0;
  margin-bottom: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  .cover {
    max-height: 348.438px;
    overflow: hidden;
    img {
      width: 100%;
      border-radius: 3px 3px 0 0;
    }
    .photo-crop-controls {
      position: absolute;
      z-index: 1;
      height: 60px;
      top: 0;
      bottom: 0;
      right: 15px;
      margin: auto;
    }
    #change-cover {
      position: absolute;
      right: 14px;
      bottom: 15px;
      border-radius: 0;
    }
    #cover-photo-input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }
  .profile-picture {
    display: inline-block;
    position: relative;
    button.btn {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 25px;
      margin: auto;
      width: 40px;
    }
    img {
      width: 200px;
      border: 3px solid #fff;
      border-radius: 100%;
      margin-top: -100px;
    }
  }
  .profile-details {
    display: inline-block;
    padding-left: 20px;
    padding-top: 5px;
    h2 {
      display:inline;
      font-weight: 400;
    }
  }
  
  @media only screen and (min-width: 1px) and (max-width: 992px) {
    .profile-picture {
      display: block;
      text-align: center;
      img {
        margin-top: -50px;
      }
    }
    .profile-details {
      display: block;
      text-align: center;
      padding-left: 0;
    }
  }
}