$color-primary: #337ab7;
$color-border: #c9c9c9;
$color-white: #fff;
$secondary-color: #999;
$color-light-gray: #efefef;
$color-light-black: #333;
$color-orange: #fdc100;

$color-success: #3c763d;
$color-bg-success: #5cb85c;
$color-success-border: #4cae4c;

$color-info: #31708f;
$color-bg-info: #5bc0de;
$color-info-border: #46b8da;

$color-warning: #8a6d3b;
$color-bg-warning: #f0ad4e;
$color-warning-border: #eea236;

$color-danger: #a94442;
$color-bg-danger: #d9534f;
$color-danger-border: #d43f3a;

$font-huge: 26px;
$font-big: 18px;
$font-normal: 14px;
$font-small: 12px;

$backdrop-color: rgba(0,0,0,0.5);
$gallery-backdrop-color: rgba(0,0,0,1);

$color-main: #087E8B;

$color-border: rgba(0,0,0,0.2);
$navbar-height: 47px;