#app-modal {
  >article.posting{
    height: 100%;
    z-index: 2020;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    animation: slideUp 0.5s ease;
    -webkit-animation: slideUp 0.5s ease;
    >header{
      z-index: 2021;
      height: $navbar-height;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      padding: 0;
      background-color: $color-main;
      line-height: 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      a, label {
        padding: 10px 20px;
        margin: 0;
        font-weight: normal;
      }
      & + section {
        margin-top: $navbar-height;
      }
    }
    >.body {
      z-index: 2020;
      padding: 20px;
      height: 100%;
      overflow: scroll;
    }
    .progress {
      height:10px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}


@keyframes slideUp {
  0% {transform: translateY(100%);}
  40% {
    transform: translateY(0%);
    padding-bottom: 30px ;
  }
  100% {padding-bottom: 0;}
}