.club-entry a {
  color: inherit;
  .panel-body {
    > ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      li {
        &.logo {
          img {
            width: 48px;
            height: 48px;
            display: block;
            border-radius: 100%;
            border: 1px solid $color-border;
          }
        }
        .details {
          margin-left: 10px;
          ul {
            padding: 0;
            list-style-type: none;
            .club-name {
              font-weight: bold;
              font-size: 18px;
            }
            .member-count {
              color: #999;
            }
          }
        }
      }
    }
  }
}