ul.club-info {
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    padding: 10px 20px;
    border-bottom: 1px solid $color-border;
    background-color: $color-light-gray;
    &.logo {
      padding:0;
      img {
        width: 100%;
      }
    }
    &.description {
      color: $secondary-color;
    }
  }
}
