.club-member {
  .panel-body {
    > ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      li {
        display: flex;
        margin-right: 10px;
        .profile-picture {
          width: 48px;
          height: 48px;
          border-radius: 100%;
          border: 1px solid $color-border;
        }
        &.details ul {
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          li {
            &:first-child {
              font-weight:bold;
            }
            &:last-child {
              color: #999;
            }
          }
        }
      }
    }
  }
  .panel-footer {
    background-color: #efefef;
    color: #999;
    padding: 5px 10px;
  }
}