details.comment-summary {
  border: 1px solid $color-border;
  margin-bottom: 10px;
  font-style: italic;
  > summary {
    padding: 5px;
    background-color: rgba(0,0,0,0.04);
  }
  blockquote {
    font-size:$font-normal;
    margin:0;
    background-color: rgba(0,0,0,0.04);
  }
}