.form-box {
  .panel {
    height: 100%;
    z-index: 2020;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    animation: slideUp 0.5s ease;
    -webkit-animation: slideUp 0.5s ease;
    .panel-heading{
      padding: 0;
      background-color: $color-primary;
      display: flex;
      justify-content: space-between;
      color: #fff;
      a, label {
        padding: 20px;
        margin: 0;
        font-weight: normal;
      }
    }
    .panel-body {
      padding: 10px;
      margin: 0;
      height: 100%;
      overflow: scroll;
    }
  }
}

@keyframes slideUp {
  0% {transform: translateY(100%);}
  40% {
    transform: translateY(0%);
    padding-bottom: 30px ;
  }
  100% {padding-bottom: 0;}
}