.info-box {
  .backdrop {
    background-color: $backdrop-color;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2030;
  }
  .panel {
    z-index: 2040;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    .panel-body {
      padding: 30px 15px;
    }
  }
}