.media-gallery {
  z-index: 2030;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $gallery-backdrop-color;
  }
  .media {
    z-index: 2050;
    position: relative;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    overflow: scroll;
    max-height: 100%;
    padding: 0;
    margin:0;
    scroll-behavior: smooth;
    img {
      width: 100%;
      position: relative;
      -webkit-transition: width 0.25s;
      transition: width 0.25s;
    }
  }
  .prev {
    z-index: 2050;
    color: #fff;
    background-color: rgba(0,0,0,0.2);
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px 10px;
  }
  .next {
    z-index: 2050;
    color: #fff;
    background-color: rgba(0,0,0,0.2);
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px 10px;
  }
  .dismiss {
    z-index: 2050;
    color: #fff;
    background-color: rgba(0,0,0,0.2);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    border-radius: 100%;
    line-height: 0;
  }
}