.menu-box {
  .backdrop {
    background-color: $backdrop-color;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2030;
  }
  .panel {
    max-height: 100%;
    overflow-y: scroll;
    z-index: 2040;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    animation: slideUp 0.5s ease;
    -webkit-animation: slideUp 0.5s ease;
    .panel-body {
      padding: 0;
      margin: 0;
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li.menu-item {
          padding: 25px 15px;
          span {
            margin-left: 15px;
          }
        }
      }

    }
  }
}

@keyframes slideUp {
  0% {transform: translateY(100%);}
  40% {
    transform: translateY(0%);
    padding-bottom: 30px ;
  }
  100% {padding-bottom: 0;}
}