nav.app-navbar {
  background-color: $color-main;
  border-top: 1px solid $color-border;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  justify-content: space-around;
  color: #fff;
  a {
    text-align: center;
    flex: 1;
    padding: 10px;
    font-size: 18px;
  }
}