article.posting {
  &.no-border {
    border-bottom:none;
  }
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid $color-border;
  header {
    display: flex;
    justify-content: space-between;
    section.profile {
      display: flex;
      section.avatar {
        vertical-align: middle;
        margin-right: 10px;
        img {
          width: 40px;
          height: 40px;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          border: 1px solid $color-border;
          display: block;
        }
      }
      section.details {
        display: flex;
        flex-flow:column;
        vertical-align: middle;
        a {
          font-weight: 600;
        }
        span {
          color: $secondary-color;
        }
      }
    }
    section.options {
      display: flex;
      justify-content: center;
      flex-flow: column;
    }
  }
  section.body {
    margin: 20px 0;
  }
  section.media {
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    i.img {
      position: relative;
      background-size: cover;
      min-height: 100px;
      display: inline-block;
      min-width: 100px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      flex: 1;
      border: 1px solid #fff;
      span.extra{
        color: #fff;
        font-style: normal;
        font-size: $font-huge;
        background: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-flow: column;
      }
    }
  }
  footer {
    display: flex;
    flex-flow: column;
    section.stats {
      > span {
        margin-right: 10px;
      }
      div.actions {
        display: flex;
        text-align: center;
        > a{
          flex: 1;
        }
      }
    }
    section.sub-postings {
      margin-top:20px;
      margin-bottom: -21px;
      article.posting {
        background-color: #f3f3f3;
        margin-left: -20px;
        margin-right: -20px;
        header {
          section.profile {
            section.avatar {
              img {
                width: 20px;
                height: 20px;
              }
            }
            section.details {
              flex-flow: row;
              a {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
