.thumbnail-list {
  ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    background-color: #efefef;
    padding: 10px;
    list-style-type: none;
    li {
      display: inline-block;
      line-height: 0;
      > i {
        width: 100px;
        height: 100px;
        display: inline-block;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid $color-border;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        &.placeholder-loading{
          background-color: $color-light-gray;
          position: relative;
          &:before {
            -webkit-animation: fa-spin 1s infinite linear;
            -o-animation: fa-spin 1s infinite linear;
            animation: fa-spin 1s infinite linear;
            content: "\f110";
            font-family: FontAwesome;
            font-size: 50px;
            color: #bfbfbf;
            font-style: normal;
            text-align: center;
            position: absolute;
            line-height: 2;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
          }
        }
        &.placeholder-unloading{
          position: relative;
          &:before {
            content: "\f014";
            font-family: FontAwesome;
            font-size: 50px;
            color: #bfbfbf;
            font-style: normal;
            text-align: center;
            position: absolute;
            line-height: 2;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
          }
        }
      }
    }
  }
}

