{% set layout = false %}
{% for entry in batch %}
    {% if entry.relation != constant('App\\Entity\\RelationshipStatus::BLOCKED') %}
        {% set profile = entry.entity %}
        <li class="profile">
            <ul>
                <li class="profile-picture">
                    <div class="avatar">
                        <a href="{{ path('profile', {'uid': profile.uid}) }}">
                            {% if profile.getProfilePicture is not null %}
                                <img src='{{ asset("images/upload/#{profile.getProfilePicture.filename}") }}' alt="">
                            {% else %}
                                <img src='{{ asset("images/default_avatar_photo.png") }}' alt="">
                            {% endif %}
                        </a>
                    </div>
                    <div class="controls">
                        {% if entry.relation is not null %}
                            {% if entry.relation == constant('App\\Entity\\RelationshipStatus::PENDING') %}
                                {% if entry.isInitiator %}
                                    <div class="bg-success status">request pending</div>
                                {% else %}
                                    <a href="#" class="btn btn-default success">confirm</a>
                                    <a href="#" class="btn btn-default danger">reject</a>
                                {% endif %}
                            {% else %}
                                <div class="bg-success status">friends</div>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('relationship/send-request', {'uid': profile.uid}) }}" class="btn btn-default success add-friend">add friend</a>
                            <div class="bg-success status hide">request sent</div>
                        {% endif %}

                    </div>
                </li>
                <li class="profile-details">
                    <ul>
                        <li class="full-name">
                            <a href="{{ path('profile', {'uid': profile.uid}) }}">
                                {{ profile.firstname ~ ' ' ~ profile.lastname }}
                            </a>
                        </li>
                        {% if profile.getLatestJob is not empty %}
                            <li>
                                {% if profile.getLatestJob.endDate is not null %} Was {% endif %}
                                {{ profile.getLatestJob.position }} at {{ profile.getLatestJob.workplace.name }}
                            </li>
                        {% endif %}
                        {% if profile.getLatestEducation is not empty %}
                            <li>
                                {% if profile.getLatestEducation.endDate is not null %} Studied {% else %} Studies {% endif %}
                                {% if profile.getLatestEducation.description is not empty %}
                                    {{ profile.getLatestEducation.description|capitalize }}
                                {% endif %}
                                at {{ profile.getLatestEducation.school.name }}
                            </li>
                        {% endif %}
                        {% if profile.getTown is not empty %}
                            <li>
                                Lives in {{ profile.getTown.locality.getFullName }}
                            </li>
                        {% endif %}
                        {% if profile.getHometown is not empty %}
                            <li>
                                From {{ profile.getHometown.locality.getFullName }}
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </li>
    {% endif %}
{% endfor %}