{% extends "theme_base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/pages/search/index.css") }}">
{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="row">
        <div class="col-md-8 col-sm-12 col-md-offset-2">
            <ul class="search-results">
                {% if results is empty %}
                    <div class="jumbotron">
                        <p>Sorry, no results were found for "<strong>{{ query }}</strong>".</p>
                        <p>Please check your spelling or try a different search term.</p>
                    </div>
                {% else %}
                    {% for entry in results %}
                        {% include 'view-models/minimal-profile-view.html.twig' with {'profile': entry} %}
                    {% endfor %}
                    {#{% include 'search/result-batch.html.twig' with {'batch': results} %}#}
                    {#<li class="loader hide">#}
                        {#<span>loading more</span>#}
                        {#<i class="fa fa-spinner fa-pulse"></i>#}
                    {#</li>#}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}

