#app-modal-wrapper {
  z-index: 9999!important;
}

.iziModal-overlay {
  z-index: 9998!important;
}

.panel {
  margin-bottom: 10px;
  .panel-heading {
    .social{
      ul {
        padding:0;
        margin:0;
        list-style-type: none;
        &.actions {
          li {
            display: inline-block;
            a {
              display: inline-block;
              padding: 10px;
              i.fa {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
  .panel-body {
    position: relative;
    ul.details {
      line-height: 2;
      padding-left: 0px;
      list-style-type: none;
      li {
        &:not(:last-child) {
          padding-bottom: 0;
        }
        i {
          color: $secondary-color;
        }
      }
    }
  }
}