.card-panel {
  .panel-heading {
    padding: 0;
    margin: 0;
    .thumbnail {
      border: none;
      padding: 0;
      margin: -1px;
      border-radius: 3px 3px 0 0;
      overflow: hidden;
    }
    .rating {
      text-align: center;
      margin-top: -30px;
      .starrr a {
        font-size: 24px;
        letter-spacing: 7px;
      }
    }
  }
  .panel-body {
    margin-bottom: -10px;
    padding-bottom: 5px;
    .details {
      font-size: $font-small;
      display: table-row;
      .icon {
        display: table-cell;
      }
      .text {
        display: table-cell;
        padding-left: 10px;
      }
    }
  }
  .panel-footer {
    background-color: #fff;
    border-top: 0;
    .more {
      display: inline-block;
      text-align: center;
      width: 100%;
      font-size: 24px;
      margin-top: -20px;
      &:hover, &:visited, &:focus {
        text-decoration: none;
      }
    }
  }
}