.section-panel .panel-body {
  .event {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    border: 1px solid $color-border;
    padding: 20px;
    ul.calendar {
      vertical-align: top;
      display: inline-block;
      border: 1px solid $color-border;
      text-align: center;
      list-style-type: none;
      padding: 0;
      width: 150px;
      font-size: 18px;
      .date {
        padding-bottom: 15px;
        color: $secondary-color;
        .weekday {
          text-transform: capitalize;
          padding: 10px 0;
          height: 25px;
        }
        .day {
          text-transform: capitalize;
          display: block;
          font-weight: 700;
          font-size: 36px;
        }
      }
    }
    ul.actions {
      vertical-align: top;
      margin-top: 25px;
      display: inline-block;
      list-style-type: none;
      padding: 0;
      margin-left: -5px;
      li {
        a {
          padding: 2px 10px;
          display: block;
          &:hover {
            background-color: $color-primary;
            color: $color-white;
          }
        }
        display:block;
        border: 1px solid $color-border;
        margin-bottom: 5px;
      }
    }
    .description {
      color: $secondary-color;
      display: inline-block;
      margin-left: 50px;
      margin-top: -5px;
      .title {
        font-size: $font-big;
      }
      ul.details {
        padding: 0;
        list-style-type: none;
        li > i.fa {
          width: 25px;
          text-align: center;
        }
      }
    }
  }
}