.section-panel .panel-body {
  ul.post-excerpt {
    border: 1px solid $color-border;
    padding: 10px;
    list-style-type: none;
    .profile-picture {
      width: 40px;
      float: left;
    }
    ul.details {
      color: $secondary-color;
      list-style-type: none;
      padding-left: 10px;
      float: left;
      font-size: small;
      li {
        display: inline;
        padding-right: 10px;
      }
      .name {
        display: block;
        font-weight: 700;
      }
    }
    .watch {
      float: right;
    }
    .excerpt {
      padding: 10px 0;
      display: inline-block;
      width: 100%;
    }
  }
}