.post-panel {
  .panel-heading {
    padding-top: 0;
    padding-left: 0;
    margin: -1px;
    max-height: 50px;
    .profile-picture {
      border-radius: 3px 0 0 0;
      width: 50px;
    }
    .details {
      display: inline-block;
      list-style-type: none;
      padding-left: 15px;
      padding-top: 5px;
      .name {
        font-weight: 700;
        font-size: normal;
        a {
          color: #fff;
          text-decoration: none;
          &:hover, &:visited {
            color: #fff;
            text-decoration: none;
          }
        }
      }
      .date {
        font-size: smaller;
        color: #fff;
      }
    }
    .options {
      height: 50px;
      padding: 10px 0;
        .more {
          display: inline-block;
          text-align: right;
          width: 100%;
          font-size: 24px;
          margin-top: -20px;
          color: #fff;
          &:hover, &:visited, &:focus {
            text-decoration: none;
          }
        }
        .dropdown-menu {
          a > .fa {
            padding-right: 10px;
          }
        }
    }
  }
  .panel-body {
    .video-container {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    img {
      width: 100%;
      padding: 10px 0;
    }
  }
  .panel-footer ul.stats {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      margin-right: 20px;
      .action {
        margin-right: 5px;
        &:hover, &:visited, &:focus {
          text-decoration: none;
        }
        &.like {
          > .fa + .fa {
            display: none;
          }
          &:hover > .fa {
            display: none;
            + .fa {
              display: inherit;
            }
          }
        }
      }
    }
  }
}