.section-panel {
  border-color: #ddd;
  .panel-heading {
    padding: 5px 10px;
    .panel-title {
      font-size: $font-normal;
      text-transform: capitalize;
      font-weight: bold;
    }
  }
  .panel-body {
    //padding-top: 25px;
  }
  .panel-footer {
    background-color: #fff;
    border-top: 0;
    .more {
      display: inline-block;
      text-align: center;
      width: 100%;
      font-size: 24px;
      margin-top: -20px;
      &:hover, &:visited, &:focus {
        text-decoration: none;
      }
    }
    .loader {
      text-align: center;
    }
  }
}