<!DOCTYPE html>
{% set _locale = app.request.locale|split('_')[0] %}
<html lang="{{ _locale }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        {% block meta %}{% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('vendor/smartPhoto/css/smartphoto.min.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/iziModal/iziModal.min.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/iziToast/iziToast.min.css') }}">
        {% endblock %}
        {% block headjavascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
            <script src="{{ url('bazinga_jstranslation_js', {'locales': app.request.locale|split('_')[0] }) }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script>
                // used this fix to automatically set the route _locale to the current request one if it wasn't manually set
                Routing.generateImpl = Routing.generate;
                // override generate function by adding a default _locale from request locale
                Routing.generate = function (url, params) {
                    var paramsExt = {};
                    if (params) {
                        paramsExt = params;
                    }
                    if (!paramsExt._locale){
                        paramsExt._locale = '{{ _locale }}';
                    }
                    return Routing.generateImpl(url, paramsExt);
                }
            </script>
            <script
                    src="https://code.jquery.com/jquery-2.2.4.min.js"
                    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                    crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            {#<script src="{{ asset("vendor/owlCarousel2/owl.carousel.min.js") }}"></script>#}
            <script src="{{ asset("vendor/smartPhoto/js/jquery-smartphoto.min.js") }}"></script>
            <script src="{{ asset('vendor/iziModal/iziModal.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('vendor/iziToast/iziToast.min.js') }}" type="text/javascript"></script>

            <script src="{{ asset('vendor/reactjs/react.js') }}"></script>
            {#<script src="{{ asset('vendor/reactjs/react.min.js') }}"></script>#}
            <script src="{{ asset('vendor/reactjs/react-dom.min.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
            <script type="text/babel" src="{{ asset('js/react/ConfirmBox.jsx') }}"></script>
            <script type="text/babel" src="{{ asset('js/react/InfoBox.jsx') }}"></script>
            <script type="text/babel" src="{{ asset('js/react/MenuBox.jsx') }}"></script>
            <script type="text/babel" src="{{ asset('js/react/FormBox.jsx') }}"></script>
            <script type="text/babel" src="{{ asset('js/react/ContentBox.jsx') }}"></script>
            <script type="text/babel" src="{{ asset('js/react/ThumbnailList.jsx') }}"></script>
            <script type="text/babel" src="{{ asset('js/react/MediaGallery.jsx') }}"></script>
            <script type="text/babel" src="{{ asset('js/react/LoadMoreButton.jsx') }}"></script>

            <script src="{{ asset("js/component/utils.js") }}"></script>
            <script src="{{ asset("js/component/xhr.js") }}"></script>
            <script src="{{ asset("js/component/Confirm.js") }}"></script>
            <script src="{{ asset("js/component/appModal.js") }}"></script>
            <script src="{{ asset("js/component/autogrow.js") }}"></script>
            <script src="{{ asset("js/page/base.js") }}"></script>
            <script src="{{ asset("vendor/moment/moment.min.js") }}"></script>
            <script>
                moment.locale('{{ _locale }}');
            </script>
        {% endblock %}

        <div id="app-modal-wrapper"></div>
        <div id="app-photo-gallery"></div>
        <div id="app-infobox"></div>
        <div id="app-confirmbox"></div>
        <div id="app-menubox"></div>
        <div id="app-contentbox"></div>
        <div id="app-media-gallery"></div>

        <div id="app-modal"></div>
    </body>
</html>
