<nav class="app-navbar">
    <a href="{{ path('newsfeed') }}"><i class="fa fa-globe fa-fw"></i></a>
    <a href="{{ path('club/list') }}"><i class="fa fa-address-card-o fa-fw"></i></a>
    <a href="#"><i class="fa fa-bell fa-fw"></i></a>
    <a href="#"><i class="fa fa-search fa-fw"></i></a>
    <a href="#"><i class="fa fa-bars fa-fw"></i></a>
</nav>
