{% extends 'theme_base.html.twig' %}

{% block body %}
    {% dump(app.flashes()) %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {#{% dump(response) %}#}
    {% if form is not null %}
        {{ form(form) }}
    {% endif %}
{% endblock %}
