{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset("vendor/pnotify/pnotify.custom.min.css") }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/component/events.js") }}"></script>
    <script src="{{ asset("vendor/pnotify/pnotify.custom.min.js") }}"></script>
    <script src="{{ asset('js/component/suggest.js') }}"></script>
    <script>
        //if ajax call returns forbidden, reload the page
        $(document).ready(function() {
            $(document).ajaxError(function(event, jqXHR) {
                if (403 === jqXHR.status) {
                    window.location.reload();
                }
            });

            {#var flashes = {{ app.flashes|json_encode|raw }};#}
            {#for (var key in flashes) {#}
                {#if (flashes.hasOwnProperty(key)) {#}
                    {#for (var i = 0; i < flashes[key].length; i++) {#}
                        {#new PNotify({#}
                            {#title: key,#}
                            {#type: key,#}
                            {#text: flashes[key][i] ,#}
                            {#nonblock: { nonblock: true }#}
                        {#});#}
                    {#}#}
                {#}#}
            {#}#}
        });

        {#var globalSearchInput = $('input#global-search');#}

        {#globalSearchInput.suggest({#}
            {#allowCreate: false,#}
            {#onSelect: function(suggestion) {#}
                {#globalSearchInput.val(suggestion.title);#}
            {#},#}
            {#onSearch: function(keyword, suggestBox) {#}
                {#$.ajax({#}
                    {#url: "{{ path('school/search') }}",#}
                    {#method: 'POST',#}
                    {#data: {#}
                        {#keyword: keyword#}
                    {#}#}
                {#}).done(function(response){#}
                    {#var suggestions = [];#}
                    {#for (var i = 0; i<response.length; i++) {#}
                        {#var entry = response[i];#}
                        {#suggestions.push(new Suggestion(entry.id, entry.name, entry.locality));#}
                    {#}#}
                    {#suggestBox.updateList(suggestions);#}
                {#});#}

            {#}#}
        {#});#}
    </script>
{% endblock %}

{% block body %}
    {#still unused templates#}




    {#<div class="row hide">#}
    {#<div class="col-md-7">#}
    {#<div class="panel section-panel">#}
    {#<div class="panel-heading">#}
    {#<spab class="panel-title pull-left">hall of fame</span>#}
    {#</div>#}
    {#<div class="panel-body">#}
    {#<div class="hall-of-fame">#}
    {#<div class="panel card-panel col-md-4">#}
    {#<div class="panel-heading">#}
    {#<div class="thumbnail">#}
    {#<img src="{{ asset('images/card.jpg') }}">#}
    {#</div>#}
    {#</div>#}
    {#<div class="panel-body">#}
    {#<div class="rating">#}
    {#<div class='starrr'></div>#}
    {#</div>#}
    {#<ul class="details">#}
    {#<li>#}
    {#<i class="fa fa-tag" aria-hidden="true"></i>#}
    {#<span>BMW M5 E76</span>#}
    {#</li>#}
    {#<li>#}
    {#<i class="fa fa-calendar-o" aria-hidden="true"></i>#}
    {#<span>Nov 2015</span>#}
    {#</li>#}
    {#<li>#}
    {#<i class="fa fa-info-circle" aria-hidden="true"></i>#}
    {#<span>2.0 l, 194 HP, Diesel</span>#}
    {#</li>#}
    {#<li>#}
    {#<i class="fa fa-info-circle" aria-hidden="true"></i>#}
    {#<span>125353 Km</span>#}
    {#</li>#}
    {#</ul>#}
    {#</div>#}
    {#<div class="panel-footer">#}
    {#<a href="#"><strong><h2>Jane Doe</h2></strong></a>#}
    {#</div>#}
    {#</div>#}
    {#<div class="panel card-panel col-md-4">#}
    {#<div class="panel-heading">#}
    {#<div class="thumbnail">#}
    {#<img src="{{ asset('images/card.jpg') }}">#}
    {#</div>#}
    {#</div>#}
    {#<div class="panel-body">#}
    {#<div class="rating">#}
    {#<div class='starrr'></div>#}
    {#</div>#}
    {#<ul class="details">#}
    {#<li>#}
    {#<i class="fa fa-tag" aria-hidden="true"></i>#}
    {#<span>BMW M5 E76</span>#}
    {#</li>#}
    {#<li>#}
    {#<i class="fa fa-calendar-o" aria-hidden="true"></i>#}
    {#<span>Nov 2015</span>#}
    {#</li>#}
    {#<li>#}
    {#<i class="fa fa-info-circle" aria-hidden="true"></i>#}
    {#<span>2.0 l, 194 HP, Diesel</span>#}
    {#</li>#}
    {#<li>#}
    {#<i class="fa fa-info-circle" aria-hidden="true"></i>#}
    {#<span>125353 Km</span>#}
    {#</li>#}
    {#</ul>#}
    {#</div>#}
    {#<div class="panel-footer text-center">#}
    {#<a href="#"><strong><h2>Jane Doe</h2></strong></a>#}
    {#</div>#}
    {#</div>#}
    {#<div class="panel card-panel col-md-4">#}
    {#<div class="panel-heading">#}
    {#<div class="thumbnail">#}
    {#<img src="{{ asset('images/card.jpg') }}">#}
    {#</div>#}
    {#</div>#}
    {#<div class="panel-body">#}
    {#<div class="rating">#}
    {#<div class='starrr'></div>#}
    {#</div>#}
    {#<ul class="details">#}
    {#<li>#}
    {#<i class="fa fa-tag" aria-hidden="true"></i>#}
    {#<span>BMW M5 E76</span>#}
    {#</li>#}
    {#<li>#}
    {#<i class="fa fa-calendar-o" aria-hidden="true"></i>#}
    {#<span>Nov 2015</span>#}
    {#</li>#}
    {#<li>#}
    {#<i class="fa fa-info-circle" aria-hidden="true"></i>#}
    {#<span>2.0 l, 194 HP, Diesel</span>#}
    {#</li>#}
    {#<li>#}
    {#<i class="fa fa-info-circle" aria-hidden="true"></i>#}
    {#<span>125353 Km</span>#}
    {#</li>#}
    {#</ul>#}
    {#</div>#}
    {#<div class="panel-footer">#}
    {#<a href="#"><strong><h2>Jane Doe</h2></strong></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="panel-footer">#}
    {#<a href="#" class="more"><strong>...</strong></a>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

    {#<div class="col-md-7">#}
        {#<div class="panel post-panel">#}
            {#<div class="panel-heading bg-primary">#}
                {#<div class="row">#}
                    {#<div class="col-xs-10">#}
                        {#<img class="profile-picture pull-left" src="{{ asset("images/profile_picture.png") }}"/>#}
                        {#<ul class="details">#}
                            {#<li class="name"><a href="#">Jane Doe</a></li>#}
                            {#<li class="date">Oct 18, 12:45</li>#}
                        {#</ul>#}
                    {#</div>#}
                    {#<div class="col-xs-2">#}
                        {#<div class="options dropdown">#}
                            {#<a href="#" class="more" id="post-more-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong>...</strong></a>#}
                            {#<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="post-more-options">#}
                                {#<li><a href="#"><i class="fa fa-eye-slash"></i> unwatch</a></li>#}
                                {#<li><a href="#"><i class="fa fa-flag-o"></i> report</a></li>#}
                                {#<li><a href="#"><i class="fa fa-ban"></i> block</a></li>#}
                            {#</ul>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="panel-body">#}
                {#<p>#}
                    {#Nice tutorial on how to paint break calipers. Mine turned out great.#}
                {#</p>#}
                {#<div class="video-container">#}
                    {#<iframe width="560" height="315" src="https://www.youtube.com/embed/AmEEYTtIfMU?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen class="video"></iframe>#}
                {#</div>#}
            {#</div>#}
            {#<div class="panel-footer">#}
                {#<ul class="stats row">#}
                    {#<li>#}
                        {#<a href="#" class="action like">#}
                            {#<i class="fa fa-heart-o"></i>#}
                            {#<i class="fa fa-heart"></i>#}
                        {#</a>#}
                        {#<span class="counter"><a href="#">18 likes</a></span>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="#" class="action"><i class="fa fa-comment-o"></i></a>#}
                        {#<span class="counter"><a href="#">23 comments</a></span>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="#" class="action"><i class="fa fa-bullhorn"></i></a>#}
                        {#<span class="counter"><a href="#">2 shares</a></span>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
        {#<div class="panel section-panel">#}
            {#<div class="panel-heading">#}
                {#<span class="panel-title pull-left">Latest Posts</span>#}
            {#</div>#}
            {#<div class="panel-body">#}
                {#<ul class="post-excerpt">#}
                    {#<li>#}
                        {#<img class="profile-picture" src="{{ asset("images/profile_picture.png") }}" alt="">#}
                        {#<ul class="details">#}
                            {#<li class="name"><a href="#">Jane Doe</a></li>#}
                            {#<li><i class="fa fa-calendar-o"></i> 18 nov at 21:06</li>#}
                            {#<li><i class="fa fa-comments"></i> 13</li>#}
                        {#</ul>#}
                        {#<a class="watch" href="#"><i class="fa fa-eye"></i></a>#}
                        {#<div class="excerpt">#}
                            {#Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.#}
                        {#</div>#}
                    {#</li>#}
                {#</ul>#}
                {#<ul class="post-excerpt">#}
                    {#<li>#}
                        {#<img class="profile-picture" src="{{ asset("images/profile_picture.png") }}" alt="">#}
                        {#<ul class="details">#}
                            {#<li class="name"><a href="#">Jane Doe</a></li>#}
                            {#<li><i class="fa fa-calendar-o"></i> 20 nov at 12:25</li>#}
                            {#<li><i class="fa fa-comments"></i> 1</li>#}
                        {#</ul>#}
                        {#<a class="watch" href="#"><i class="fa fa-eye"></i></a>#}
                        {#<div class="excerpt">#}
                            {#Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.#}
                        {#</div>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
            {#<div class="panel-footer">#}
                {#<a href="#" class="more"><strong>...</strong></a>#}
            {#</div>#}
        {#</div>#}
        {#<div class="panel section-panel">#}
            {#<div class="panel-heading">#}
                {#<span class="panel-title pull-left">upcoming events</span>#}
            {#</div>#}
            {#<div class="panel-body">#}
                {#<div class="event">#}
                    {#<ul class="calendar">#}
                        {#<li class="weekday bg-primary">Monday</li>#}
                        {#<li class="date"><span class="day">26</span> May</li>#}
                    {#</ul>#}
                    {#<ul class="actions">#}
                        {#<li><a href="#"><i class="fa fa-hand-peace-o"></i></a></li>#}
                        {#<li><a href="#"><i class="fa fa-eye"></i></a></li>#}
                    {#</ul>#}
                    {#<div class="description">#}
                        {#<span class="title"><a href="#">Get together Monday</a></span>#}
                        {#<ul class="details">#}
                            {#<li><i class="fa fa-user"></i>Adam Jones</li>#}
                            {#<li><i class="fa fa-users"></i> 58 are going</li>#}
                            {#<li><i class="fa fa-map-marker"></i> Bucharest, Piata Victoriei</li>#}
                            {#<li><i class="fa fa-clock-o"></i> 18:00 (2 hours)</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="event">#}
                    {#<ul class="calendar">#}
                        {#<li class="weekday bg-primary">Tuesday</li>#}
                        {#<li class="date"><span class="day">12</span> February</li>#}
                    {#</ul>#}
                    {#<ul class="actions">#}
                        {#<li><a href="#"><i class="fa fa-hand-peace-o"></i></a></li>#}
                        {#<li><a href="#"><i class="fa fa-eye"></i></a></li>#}
                    {#</ul>#}
                    {#<div class="description">#}
                        {#<span class="title"><a href="#">Drift race showdown</a></span>#}
                        {#<ul class="details">#}
                            {#<li><i class="fa fa-user"></i>Adam Jones</li>#}
                            {#<li><i class="fa fa-users"></i> 168 are going</li>#}
                            {#<li><i class="fa fa-map-marker"></i> Bucharest, Piata Victoriei</li>#}
                            {#<li><i class="fa fa-clock-o"></i> 18:00 (4 hours)</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="panel-footer">#}
                {#<a href="#" class="more"><strong>...</strong></a>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}


