{% extends "theme_base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/pages/club/view.css") }}">
    <link rel="stylesheet" href="{{ asset("vendor/croppie/croppie.css") }}">
{% endblock %}


{% block body %}
    {% include 'navbar.html.twig' %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset("vendor/croppie/croppie.min.js") }}"></script>
    <script type="text/babel" src="{{ asset('js/react/ClubMembershipsList.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/Club.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/ClubForm.jsx') }}"></script>
    <script type="text/babel">
        ReactDOM.render(
            <ClubMembershipsList profile='{{ app.user.getProfileId }}'/>,
            document.getElementById('root')
        );
    </script>
{% endblock %}


