{% extends "theme_base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/pages/club/view.css") }}">
{% endblock %}


{% block body %}
    {% include 'navbar.html.twig' %}
    {#{{ dump(club) }}#}
    <div id="root">

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/babel" src="{{ asset('js/react/ClubView.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/TopicList.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/CommentForm.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/Pagination.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/Loader.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/MemberList.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/ThumbnailGallery.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/MediaGallery.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/TopicForm.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/ClubInfo.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/Loader.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/LikesList.jsx') }}"></script>
    <script type="text/babel">
        let csrf = {
            topic: '{{ (topic_csrf is defined) ? topic_csrf : null }}'
        };

        ReactDOM.render(
                <ClubView club='{{ club|json_encode|raw }}' csrf={csrf} />,
            document.getElementById('root')
        );
    </script>
{% endblock %}
