{% extends "theme_base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("css/pages/topic/view.css") }}">
{% endblock %}


{% block body %}
    {% include 'navbar.html.twig' %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let topic = {{ topic is defined ? topic|json_encode|raw : null }};

        let csrf = {
            comment: '{{ (comment_csrf is defined) ? comment_csrf : null }}',
            reply: '{{ (reply_csrf is defined) ? reply_csrf : null }}',
            topic: '{{ (topic_csrf is defined) ? topic_csrf : null }}',
        };
    </script>
    <script type="text/babel" src="{{ asset('js/react/TopicView.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/Pagination.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/Loader.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/ThumbnailGallery.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/CommentForm.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/ReplyForm.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/TopicForm.jsx') }}"></script>
    <script type="text/babel" src="{{ asset('js/react/LikesList.jsx') }}"></script>
    <script type="text/babel">
        ReactDOM.render(
            <Topic topic={topic} csrf={csrf} club='{{ clubHash }}'/>,
            document.getElementById('root')
        );
    </script>
{% endblock %}