@import "../../theme/base";

.security-form-wrapper {
  position: relative;
  border: 1px solid $color-border;
  padding: 50px;
  text-align: center;

  .form-group {
    .help-block {
      ul {
        list-style-type: none;
        padding: 0;
      }
    }
  }

  h2.title {
    margin-top: 0;
    color: $secondary-color;
  }
  p.description {
    color:$secondary-color;
  }
  hr {
    border-color: $color-border;
  }
  .extra {
    color: $secondary-color;
  }
  .alert {
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
  }
}