<ul class="thumbnail-grid">
    <li>
        <a href="{{ asset("images/upload/#{media}") }}" data-group="{{ hash }}" class="photo_album_trigger">
            <img class="img" style="background-image: url({{ asset("images/upload/#{media}") }})"/>
        </a>
    </li>
</ul>