<ul class="thumbnail-grid col2">
    {% set extra = gallery|length - 4 %}
    {% for media in gallery %}
        {% if loop.index == 2 %}
            <li><ul>
        {% endif %}
            <li {% if loop.index > 4 %} class="hide" {% endif %}>
                <a href="{{ asset("images/upload/#{media}") }}" data-group="{{ hash }}" class="photo_album_trigger">
                    {% if loop.index == 4 %}
                        <span class="extra">+ {{ extra }}</span>
                    {% endif %}
                    <img class="img" style="background-image: url({{ asset("images/upload/#{media}") }})"/>
                </a>
            </li>
    {% endfor %}
            </ul></li>
</ul>