<ul class="thumbnail-grid">
    {% for media in gallery %}
        <li>
            <a href="{{ asset("images/upload/#{media}") }}" data-group="{{ hash }}" class="photo_album_trigger">
                <img class="img" style="background-image: url({{ asset("images/upload/#{media}") }})"/>
            </a>
        </li>
    {% endfor %}
</ul>