<ul class="thumbnail-grid col2">
    {% for media in gallery %}
        {% if loop.index == 2 %}
            <li><ul>
        {% endif %}
            <li>
                <a href="{{ asset("images/upload/#{media}") }}" data-group="{{ hash }}" class="photo_album_trigger">
                    <img class="img" style="background-image: url({{ asset("images/upload/#{media}") }})"/>
                </a>
            </li>
    {% endfor %}
            </ul></li>
</ul>