<h2>{{ "account_created.title"|trans({}, "emails") }}, {{ name|capitalize }}.</h2>
<p>{{ "account_created.confirm_msg"|trans({}, "emails") }} <a href="{{ url("activate_account", {"token": token, "_locale": app.request.getLocale()}) }}">{{ "account_created.confirm_msg_url"|trans({}, "emails") }}</a>.</p>
<p>{{ "account_created.copy_link_msg"|trans({}, "emails") }}</p>
<p>{{ url("activate_account", {"token": token, "_locale": app.request.getLocale()}) }}</p>
<p>{{ "account_created.safe_ignore_msg"|trans({}, "emails") }}</p>