<h2>{{ "forgot_password.title"|trans({}, "emails") }}, {{ name|capitalize }}.</h2>
<p>{{ "forgot_password.msg"|trans({"%email%": email}, "emails") }}</p>
<p><a href="{{ url("reset_password", {"token": token, "_locale": app.request.getLocale()}) }}">{{ "forgot_password.reset_url"|trans({}, "emails") }}</a></p>
<p>{{ "forgot_password.copy_link"|trans({}, "emails") }}</p>
<p>{{ url("reset_password", {"token": token, "_locale": app.request.getLocale()}) }}</p>
<p>{{ "forgot_password.safe_ignore"|trans({}, "emails") }}</p>