<h2>{{ "password_changed.title"|trans({}, "emails") }} {{ name|capitalize }}.</h2>
<p>{{ "password_changed.msg"|trans({"%email%": email}, "emails") }}</p>
<p>{{ "password_changed.msg_trouble"|trans({}, "emails") }}</p>
<p>{{ "password_changed.visit"|trans({}, "emails") }} <a href="{{ url("forgot_password") }}">{{ url("forgot_password") }}</a> {{ "password_changed.change_msg"|trans({}, "emails") }}</p>
<p>{{ "password_changed.advice"|trans({}, "emails") }}</p>